<!-- HEADER -->
<div class="page-header">

  <div class="header-content">

    <div class="title-row">

      <h2 class="page-title">Gestione impianti</h2>

      <p class="subtitle">
        Visualizza, filtra e gestisci gli impianti registrati nel sistema
      </p>

    </div>

    <button
      mat-raised-button
      color="primary"
      class="primary-action"
      (click)="inserisciDati()">

      <mat-icon>add</mat-icon>
      Nuovo impianto

    </button>

  </div>

</div>

<!-- FILTRI -->
<div class="filter-card">

  <form [formGroup]="formRicercaImpianti" (ngSubmit)="search()" class="filters-grid">

    <!-- CER -->
    <mat-form-field appearance="outline">

      <mat-label>Cer</mat-label>

      <mat-select formControlName="idCer">

        <mat-option [value]="null">
          -- Seleziona Cer --
        </mat-option>

        <mat-option *ngFor="let c of cer$ | async"
          [value]="c.idCer">

          {{c.ragSociale}}

        </mat-option>

      </mat-select>

    </mat-form-field>

    <!-- CONFIGURAZIONE -->
    <mat-form-field appearance="outline">

      <mat-label>Configurazione</mat-label>

      <mat-select formControlName="idConfigurazione">

        <mat-option [value]="null">
          -- Seleziona Configurazione --
        </mat-option>

        <mat-option *ngFor="let c of configurazioni$ | async"
          [value]="c.idConfig">

          {{c.ragioneSociale}}

        </mat-option>

      </mat-select>

    </mat-form-field>

    <!-- CODICE CABINA -->
    <mat-form-field appearance="outline">

      <mat-label>Codice cabina</mat-label>

      <input
        matInput
        type="text"
        formControlName="codiceCabina"
        class="form-control">

    </mat-form-field>

    <!-- TIPOLOGIA IMPIANTO -->
    <mat-form-field appearance="outline">

      <mat-label>Tipologia impianto</mat-label>

      <mat-select formControlName="tipologiaImpianto">

        <mat-option [value]="null">
          -- Seleziona Tipologia --
        </mat-option>

        <mat-option *ngFor="let t of tipologieImpianto$ | async"
          [value]="t.descrizione">

          {{t.descrizione}}

        </mat-option>

      </mat-select>

    </mat-form-field>

    <!-- STATO IMPIANTO -->
    <mat-form-field appearance="outline">

      <mat-label>Stato impianto</mat-label>

      <mat-select formControlName="statoImpianto">

        <mat-option [value]="null">
          -- Seleziona Stato --
        </mat-option>

        <mat-option *ngFor="let s of statiImpianto$ | async"
          [value]="s.descrizione">

          {{s.descrizione}}

        </mat-option>

      </mat-select>

    </mat-form-field>

    <!-- REGIONE -->
    <mat-form-field appearance="outline">

      <mat-label>Regione</mat-label>

      <mat-select formControlName="regione">

        <mat-option [value]="null">
          -- Seleziona Regione --
        </mat-option>

        <mat-option *ngFor="let r of regioni$ | async"
          [value]="r.descrizione">

          {{r.descrizione}}

        </mat-option>

      </mat-select>

    </mat-form-field>

    <!-- PROVINCIA -->
    <mat-form-field appearance="outline">

      <mat-label>Provincia</mat-label>

      <mat-select formControlName="provincia">

        <mat-option [value]="null">
          -- Seleziona Provincia --
        </mat-option>

        <mat-option *ngFor="let p of provincie$ | async"
          [value]="p">

          {{p.descrizione}}

        </mat-option>

      </mat-select>

    </mat-form-field>

    <!-- COMUNE -->
    <mat-form-field appearance="outline">

      <mat-label>Comune</mat-label>

      <mat-select formControlName="comune">

        <mat-option [value]="null">
          -- Seleziona Comune --
        </mat-option>

        <mat-option *ngFor="let c of comuni$ | async"
          [value]="c">

          {{c.descrizione}}

        </mat-option>

      </mat-select>

    </mat-form-field>

    <!-- POTENZA -->
    <mat-form-field appearance="outline">

      <mat-label>Potenza nominale (kW)</mat-label>

      <input
        matInput
        type="number"
        formControlName="potenzaNominaleKw">

    </mat-form-field>

    <!-- PRESENZA ACCUMULO -->
    <mat-form-field appearance="outline">

      <mat-label>Presenza Accumulo</mat-label>

      <mat-select formControlName="presenzaAccumulo">

        <mat-option [value]="null">
          -- Seleziona presenza accumulo --
        </mat-option>

        <mat-option [value]="'S'">S</mat-option>
        <mat-option [value]="'N'">N</mat-option>

      </mat-select>

    </mat-form-field>

    <!-- ATTIVO -->
    <mat-form-field appearance="outline">

      <mat-label>Attivo</mat-label>

      <mat-select formControlName="attivo">

        <mat-option [value]="null">
          -- Seleziona attivo --
        </mat-option>

        <mat-option [value]="'S'">S</mat-option>
        <mat-option [value]="'N'">N</mat-option>

      </mat-select>

    </mat-form-field>

  </form>

</div>

<!-- TABELLA -->
<div class="table-card">

  <table
    mat-table
    [dataSource]="dataSource"
    class="full-table">

    <ng-container matColumnDef="codiceCabina">
      <th mat-header-cell *matHeaderCellDef>Codice cabina</th>
      <td mat-cell *matCellDef="let dato">{{ dato.codiceCabina }}</td>
    </ng-container>

    <ng-container matColumnDef="statoImpianto">
      <th mat-header-cell *matHeaderCellDef>statoImpianto</th>
      <td mat-cell *matCellDef="let dato">{{ dato.statoImpianto }}</td>
    </ng-container>

    <ng-container matColumnDef="tipologia">
      <th mat-header-cell *matHeaderCellDef>Tipologia</th>
      <td mat-cell *matCellDef="let dato">{{ dato.tipologiaImpianto }}</td>
    </ng-container>

    <ng-container matColumnDef="potenzaNominaleKw">
      <th mat-header-cell *matHeaderCellDef>Potenza nominale</th>
      <td mat-cell *matCellDef="let dato">{{ dato.potenzaNominaleKw }}</td>
    </ng-container>

    <ng-container matColumnDef="regione">
      <th mat-header-cell *matHeaderCellDef>Regione</th>
      <td mat-cell *matCellDef="let dato">{{ dato.regione }}</td>
    </ng-container>

    <ng-container matColumnDef="attivo">
      <th mat-header-cell *matHeaderCellDef>Attivo</th>
      <td mat-cell *matCellDef="let dato">{{ dato.attivo }}</td>
    </ng-container>

    <ng-container matColumnDef="azioni">
      <th mat-header-cell *matHeaderCellDef>Azioni</th>
      <td mat-cell *matCellDef="let dato">

        <div class="actions">

          <button mat-icon-button (click)="visualizzaDati(dato.idImpianto)">
            <mat-icon>find_in_page</mat-icon>
          </button>

          <button mat-icon-button (click)="editaDati(dato.idImpianto)">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button (click)="openDialog(dato.idImpianto)" [disabled]="disableIfNotAdmin">
            <mat-icon>delete</mat-icon>
          </button>

        </div>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  </table>

  <mat-paginator
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25, 100]"
    showFirstLastButtons>
  </mat-paginator>

</div>

<!-- DIALOG -->
<app-confirmation-dialog
  #confirmationDialog
  [title]="'Elimina elemento'"
  [description]="'Sei sicuro di voler eliminare questo elemento?'"
  [confirmText]="'Elimina'"
  [cancelText]="'Annulla'"
  (confirm)="eliminaDato()"
  (cancel)="onCancel()"
  (closed)="onClosed($event)">
</app-confirmation-dialog>