
  <div *ngIf="!flagModifica">
    <h2>Inserimento nuovo impianto</h2>
  </div>
  <div *ngIf="flagModifica">
    <h2>Modifica impianto</h2>
  </div>


<div class="white-box">
  <form [formGroup]="formImpianto">

    <div class="form-group">
      <label for="idConfigurazione">Configurazione</label>
      <select formControlName="idConfigurazione">
          <option [ngValue]="null">
              -- Seleziona Configurazione --
          </option>
          <option *ngFor="let c of configurazioni$ | async"
              [ngValue]="c.idConfig">
                  {{c.ragioneSociale}}
          </option>
      </select>
    </div>

    <div class="form-group">
      <label for="flagEsercizio">Esercizio</label>
      <select formControlName="flagEsercizio">
          <option [ngValue]="null">
              -- Seleziona stato esercizio --
          </option>
          <option [ngValue]="'SI'">
            S
          </option>
          <option [ngValue]="'NO'">
            N
          </option>

      </select>
    </div>
    

    <div class="form-group">
      <label for="dataEntrataEsercizio">Data Entrata Esercizio</label>
      <input
        type="date"
        id="dataEntrataEsercizio"
        formControlName="dataEntrataEsercizio">
    </div>

    <div class="form-group">
      <label for="tipologiaImpianto">Tipologia</label>
      <select formControlName="tipologiaImpianto">
          <option [ngValue]="null">
              -- Seleziona tipologia impianto --
          </option>
          <option *ngFor="let t of tipologieImpianto$ | async"
              [ngValue]="t.descrizione">
                  {{t.descrizione}}
          </option>
      </select>
    </div>

    <div class="form-group" *ngIf="specificaTipologiaImpianto">
      <label for="specificaTipologiaImpianto">Specifica tipologia impianto</label>
      <input
        type="text"
        id="specificaTipologiaImpianto"
        formControlName="specificaTipologiaImpianto">
    </div>

    <div class="form-group">
      <label for="potenzaNominaleKw">Potenza Nominale (kW)</label>
      <input
        type="number"
        id="potenzaNominaleKw"
        formControlName="potenzaNominaleKw">
    </div>

    <div class="form-group">
      <label for="presenzaAccumulo">Presenza Accumulo</label>
      <select formControlName="presenzaAccumulo">
          <option [ngValue]="null">
              -- Seleziona presenza accumulo --
          </option>
          <option [ngValue]="'S'">
            S
          </option>
          <option [ngValue]="'N'">
            N
          </option>
      </select>
    </div>

    <div class="form-group">
      <label for="capacitaAccumuloKwh">Capacità Accumulo (kWh)</label>
      <input
        type="number"
        id="capacitaAccumuloKwh"
        formControlName="capacitaAccumuloKwh">
    </div>

    <div class="form-group">
      <label for="categoriaProduttore">Categoria Produttore</label>
      <select formControlName="categoriaProduttore">
          <option [ngValue]="null">
              -- Seleziona categoria produttore --
          </option>
          <option [ngValue]="'S'">
            S
          </option>
          <option [ngValue]="'N'">
            N
          </option>
      </select>
    </div>

    <div class="form-group">
      <label for="codiceCategoriaProduttore">Codice Categoria Produttore</label>
      <select formControlName="codiceCategoriaProduttore">
          <option [ngValue]="null">
              -- Seleziona produttore --
          </option>
          <option *ngFor="let c of codiciCategoriaProduttore$ | async"
              [ngValue]="c.descrizione">
                  {{c.descrizione}}
          </option>
      </select>
    </div>

    <div class="form-group" *ngIf="specificaCategoriaProduttore">
      <label for="specificaCategoriaProduttore">Specifica categoria produttore</label>
      <input
        type="text"
        id="specificaCategoriaProduttore"
        formControlName="specificaCategoriaProduttore">
    </div>

    <div class="form-group">
      <label for="tipologiaSitoInstallazione">Tipologia sito installazione</label>
      <select formControlName="tipologiaSitoInstallazione">
          <option [ngValue]="null">
              -- Seleziona tipologia installazione --
          </option>
          <option *ngFor="let t of tipologieSitoInstallazione$ | async"
              [ngValue]="t.descrizione">
                  {{t.descrizione}}
          </option>
      </select>
    </div>

    <div class="form-group" *ngIf="specificaSitoInstallazione">
      <label for="specificaSitoInstallazione">Specifica tipologia installazione</label>
      <input
        type="text"
        id="specificaSitoInstallazione"
        formControlName="specificaSitoInstallazione">
    </div>

    <div class="form-group">
      <label for="regione">Regione</label>
      <select formControlName="regione">
          <option [ngValue]="null">
              -- Seleziona Regione --
          </option>
          <option *ngFor="let r of regioni$ | async"
              [ngValue]="r">
                  {{r.descrizione}}
          </option>
      </select>
    </div>

    <div class="form-group">
      <label for="provincia">Provincia</label>
      <select formControlName="provincia">
          <option [ngValue]="null">
              -- Seleziona Provincia --
          </option>
          <option *ngFor="let p of provincie$ | async"
              [ngValue]="p">
                  {{p.descrizione}}
          </option>
      </select>
    </div>

      <div class="form-group">
      <label for="comune">Comune</label>
      <select formControlName="comune">
          <option [ngValue]="null">
              -- Seleziona Comune --
          </option>
          <option *ngFor="let c of comuni$ | async"
              [ngValue]="c">
                  {{c.descrizione}}
          </option>
      </select>
    </div>

    <div class="form-group">
      <label for="indirizzo">Indirizzo</label>
      <input
        type="text"
        id="indirizzo"
        formControlName="indirizzo">
    </div>

    <div class="form-group">
      <label for="civico">Civico</label>
      <input
        type="text"
        id="civico"
        formControlName="civico">
    </div>

    <div class="form-group">
      <label for="cap">CAP</label>
      <input
        type="text"
        id="cap"
        formControlName="cap">
    </div>

    <div class="form-group">
      <label for="statoImpianto">Stato Impianto</label>
      <select formControlName="statoImpianto">
          <option [ngValue]="null">
              -- Seleziona stato impianto --
          </option>
          <option *ngFor="let c of statiImpianto$ | async"
              [ngValue]="c.descrizione">
                  {{c.descrizione}}
          </option>
      </select>
    </div>

    <div class="form-group">
      <label for="attivo">Attivo</label>
      <input
        type="text"
        id="attivo"
        formControlName="attivo">
    </div>

    <div *ngIf="!flagModifica">
      <button type="submit" class="search-btn" [disabled]="formImpianto.invalid" (click)="salvataggio()">
        Salva
      </button>
    </div>
    <div *ngIf="flagModifica"> 
      <button type="submit" class="search-btn" [disabled]="formImpianto.invalid" (click)="salvataggio()">
        Modifica
      </button>
    </div>

  </form>
</div>
