:host {
 display:block;
 min-height:100vh;
}

.layout {
 min-height:100vh;
 display:flex;
 flex-direction:column;
 background:#f5f7fb;
}

app-header {
 flex-shrink:0;
}

.content-scroll {
 flex:1;
 padding:30px;
 overflow:auto;
}