.error {
  color: red;
  font-size: small;
  margin-top: -20px;
}

.campo-obbligatorio {
  font-size: 10px;
  color: grey;
  font-style: italic;
}

.login-button {
  color: var(--app-secondary);
}

.mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-container-color: var(--app-secondary);
}

.remember-me {
  color: var(--app-secondary) !important;
  --mdc-checkbox-selected-checkmark-color: #fff !important;
  --mdc-checkbox-selected-focus-icon-color: var(--app-secondary) !important;
  --mdc-checkbox-selected-hover-icon-color: var(--app-secondary) !important;
  --mdc-checkbox-selected-icon-color: var(--app-secondary) !important;
  --mdc-checkbox-selected-pressed-icon-color: var(--app-secondary) !important;
  --mdc-checkbox-unselected-focus-icon-color: var(--app-secondary) !important;
  --mdc-checkbox-unselected-hover-icon-color: var(--app-secondary) !important;
  --mdc-checkbox-unselected-icon-color: var(--app-secondary) !important;
  --mdc-checkbox-unselected-pressed-icon-color: var(--app-secondary) !important;
  --mdc-checkbox-selected-focus-state-layer-color: var(--app-secondary) !important;
  --mdc-checkbox-selected-hover-state-layer-color: var(--app-secondary) !important;
  --mdc-checkbox-selected-pressed-state-layer-color: var(--app-secondary);
  --mdc-checkbox-unselected-focus-state-layer-color: var(--app-secondary);
  --mdc-checkbox-unselected-hover-state-layer-color: var(--app-secondary);
  --mdc-checkbox-unselected-pressed-state-layer-color: var(--app-secondary);
  --mat-checkbox-ripple-color: var(--app-secondary) !important;
  --mdc-ripple-surface--accent: var(--app-secondary) !important;
  --mdc-ripple-surface--primary: var(--app-secondary) !important;
}

:host ::ng-deep .remember-me.mat-mdc-checkbox .mat-mdc-focus-indicator::before {
  background-color: var(--app-secondary) !important;
}

:host ::ng-deep .remember-me.mat-mdc-checkbox.mat-accent .mdc-checkbox--selected ~ .mdc-checkbox__ripple {
  background-color: var(--app-secondary) !important;
  background: var(--app-secondary) !important;
}

:host ::ng-deep .remember-me.mat-mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background,
:host ::ng-deep .remember-me.mat-mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background {
  background-color: var(--app-secondary) !important;
  border-color: var(--app-secondary) !important;
}

:host ::ng-deep .remember-me.mat-mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate) ~ .mdc-checkbox__background {
  border-color: var(--app-secondary) !important;
}

:host ::ng-deep .remember-me.mat-mdc-checkbox .mdc-checkbox__checkmark {
  color: var(--app-secondary) !important;
}

:host ::ng-deep .remember-me.mat-mdc-checkbox .mdc-checkbox__checkmark-path {
  stroke: white !important;
}

:host ::ng-deep .remember-me.mat-mdc-checkbox .mdc-checkbox__mixedmark {
  border-color: var(--app-secondary) !important;
}

:host ::ng-deep .remember-me.mat-mdc-checkbox .mdc-checkbox__ripple::before,
:host ::ng-deep .remember-me.mat-mdc-checkbox .mdc-checkbox__ripple::after {
  background-color: var(--app-secondary) !important;
}
