<div style="display: flex; justify-content: center; align-items: center; height: 80vh; margin-left:10vh">
  <mat-card style="width: 400px; padding: 20px">
    <div style="display: flex; align-items: center; justify-content: flex-start; gap: 8px; margin-bottom: 20px">
      <h2 style="margin: 0">Accedi al tuo Account</h2>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <p><b>Email</b></p>
      <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 15px">
        <mat-label>Inserisci la tua email</mat-label>
        <input matInput formControlName="email" aria-label="email" required />
        <mat-error appFormControlError [control]="loginForm.get('email')" label="Email"></mat-error>
      </mat-form-field>
      <p><b>Password</b></p>
      <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 15px">
        <mat-label>Inserisci la password</mat-label>
        <input matInput [type]="hide ? 'text' : 'password'" formControlName="password" aria-label="password" required />
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error appFormControlError [control]="loginForm.get('password')" label="Password" [customMessages]="passwordErrorMessages"></mat-error>
      </mat-form-field>
      <div class="error" *ngIf="loginError">Email o password errati</div>
      <!-- <a href="">Password dimenticata?</a> -->
      <div appearance="fill" style="display: flex; justify-content: center; width: 100%; margin-top: 10px; ">
        <button mat-raised-button color="primary" type="submit" [disabled]="false">Accedi</button>
      </div>
    </form>
    <div style="display: flex; justify-content: center; gap: 10px; margin-top: 15px">
      <p>Non hai un account? <a routerLink="/register">Registrati</a></p>
    </div>
  </mat-card>
  <span>

    <!-- <div style="position: relative; width: 100%; height: 0; padding-top: 100.0000%;
 padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">
  <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
    src="https://www.canva.com/design/DAHM7c9UUr4/7klIBOMWwhQzA4Mo-9Ejmg/watch?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
  </iframe> 
     </div> 
  
  

  <div style=" position: relative; width: 100%; height: 0; padding-top: 100.0000%;
  padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
  border-radius: 28px; will-change: transform;">
    <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
      src="https://www.canva.com/design/DAHLly3sVN4/w1nS7BSQin5ulQDqU9fC9w/view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
    </iframe>
    <a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAHLly3sVN4&#x2F;w1nS7BSQin5ulQDqU9fC9w&#x2F;view?utm_content=DAHLly3sVN4&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a> di Francesco Ionta
  </div> -->
  



    
  </span>
</div>
