.error {
  color: red;
  font-size: small;
  margin-top: -20px;
}

.campo-obbligatorio {
  font-size: 10px;
  color: grey;
  font-style: italic;
}

.login-button {
  color: var(--app-secondary);
}

.mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-container-color: var(--app-secondary);
}

.remember-me {
  color: var(--app-secondary);
  --mdc-checkbox-selected-checkmark-color: #fff;
  --mdc-checkbox-selected-focus-icon-color: var(--app-secondary);
  --mdc-checkbox-selected-hover-icon-color: var(--app-secondary);
  --mdc-checkbox-selected-icon-color: var(--app-secondary);
  --mdc-checkbox-selected-pressed-icon-color: var(--app-secondary);
  --mdc-checkbox-unselected-focus-icon-color: var(--app-secondary);
  --mdc-checkbox-unselected-hover-icon-color: var(--app-secondary);
  --mdc-checkbox-unselected-icon-color: var(--app-secondary);
  --mdc-checkbox-unselected-pressed-icon-color: var(--app-secondary);
  --mdc-checkbox-selected-focus-state-layer-color: var(--app-secondary);
  --mdc-checkbox-selected-hover-state-layer-color: var(--app-secondary);
  --mdc-checkbox-selected-pressed-state-layer-color: var(--app-secondary);
  --mdc-checkbox-unselected-focus-state-layer-color: var(--app-secondary);
  --mdc-checkbox-unselected-hover-state-layer-color: var(--app-secondary);
  --mdc-checkbox-unselected-pressed-state-layer-color: var(--app-secondary);
  --mat-checkbox-ripple-color: var(--app-secondary);
}

:host ::ng-deep .remember-me.mat-mdc-checkbox.mat-accent .mdc-checkbox--selected ~ .mdc-checkbox__ripple {
  background-color: var(--app-secondary) !important;
  background: var(--app-secondary) !important;
}
