<div class="login-page">
  <div class="login-card">
    <div class="brand">
      <span class="my">My</span><span class="store">Store</span>
    </div>
    <h4>Accedi al tuo account</h4>
    <br>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">
        <mat-icon matSuffix>
          email
        </mat-icon>
        <mat-error appFormControlError [control]="loginForm.get('email')" label="Email">
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password':'text'" formControlName="password">
        <button mat-icon-button matSuffix type="button" (click)="hide=!hide">
          <mat-icon>
            {{hide ? 'visibility':'visibility_off'}}
          </mat-icon>
        </button>
        <mat-error appFormControlError [control]="loginForm.get('password')" label="Password">
        </mat-error>
      </mat-form-field>
      <div class="options">
        <mat-checkbox formControlName="rememberMe">
          Ricordami
        </mat-checkbox>
        <a>
          Password dimenticata?
        </a>
      </div>
      <button class="login-btn" mat-raised-button type="submit">
        Accedi
      </button>
    </form>
    <div class="register-link">
      Non hai un account?
      <a routerLink="/register">
        Registrati
      </a>
    </div>
  </div>
</div>