<div>
  <div [formGroup]="form">
    <div rows="2">
      <label >Nome</label>
      <input type="text" formControlName="nome">
      <label>Cognome</label>
      <input type="text" formControlName="cognome">
    </div>
    <label>Codice Fiscale</label>
    <input type="text" formControlName="codice_fiscale">
    <label >Email</label>
    <input type="text" formControlName="email">
    <mat-form-field appearance="fill">
      <mat-label >Telefono</mat-label>
      <input type="text" matInput formControlName="telefono" required>
      <mat-icon matSuffix>phone</mat-icon>
      <mat-hint>Includi il prefisso</mat-hint>
    </mat-form-field>
    <select name="ruoli" id="ruoli" formControlName="ruolo">
      <option value="admin">Admin</option>
      <option value="gestore">Gestore</option>
      <option value="ospite">Ospite</option>
    </select>
    <div rows="2">
      <button mat-button>Registrati</button>
      <button mat-button>Annulla</button>
    </div>
  </div>
</div>
