div {
  margin: 5px;
}

button {
  margin: 5px;
}

mat-form-field {
  margin: 5px;
}

.password {
  width: 46.5%;
}

.ruolo {
  width: 47%;
}

.error {
  font-size: smaller;
  color: red;
}

.register {
  background-color: white;
  padding: 5%;
  margin: 5%;
  justify-items: center;
}

.button {
  margin-left: 27%;
}

.campo-obbligatorio {
  font-size: 10px;
  color: grey;
  font-style: italic;
}
