<div>
  <div class="h3-header">
  <h3 class="demo-section">
    <span [matBadge]="datiEnergetici.length" matBadgeOverlap="true" style="padding-right: 10px;">Dati Energetici</span>
  </h3>
    <button mat-raised-button color="primary" routerLink="inserimento-dati-energetici">
    <mat-icon>add</mat-icon>
    Aggiungi Dati Energetici
  </button>
  </div>
  <br>
  <div class="filtro" rows="3">
    <h6>Filtra per:</h6>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Anno di Riferimento</mat-label>
      <input [(ngModel)]="filtro.anno" matInput type="text" aria-label="anno">
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Partita IVA</mat-label>
      <input [(ngModel)]="filtro.partitaIva" matInput type="text" aria-label="partitaIva">
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>COD.Cabina</mat-label>
      <input [(ngModel)]="filtro.codiceCabina" matInput type="text" aria-label="codiceCabina">
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Stato</mat-label>
      <input [(ngModel)]="filtro.statoScheda" matInput type="text" aria-label="statoScheda">
    </mat-form-field>
    <div class="button-filtro">
      <button mat-raised-button color="primary" type="button" value="Cerca" aria-label="Cerca" (click)="filtraDatiEnergetici()">
        <mat-icon>search</mat-icon> Ricerca
      </button>
      <button mat-raised-button type="button" (click)="resetFiltro()">
        <mat-icon>close</mat-icon> Reset
      </button>
    </div>
  </div>
</div>
<div class="table">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
    <ng-container matColumnDef="anno">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="anno">Anno di Riferimento</th>
      <td mat-cell *matCellDef="let element">{{ element.anno }}</td>
    </ng-container>
    <ng-container matColumnDef="partitaIva">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="partitaIva">Partita IVA</th>
      <td mat-cell *matCellDef="let element">{{ element.partitaIva }}</td>
    </ng-container>
    <ng-container matColumnDef="codiceCabina">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="codiceCabina">COD.Cabina</th>
      <td mat-cell *matCellDef="let element">{{ element.codiceCabina }}</td>
    </ng-container>
    <ng-container matColumnDef="statoScheda">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="statoScheda">Stato</th>
      <td mat-cell *matCellDef="let element">{{ element.statoScheda }}</td>
    </ng-container>
    <ng-container matColumnDef="azioni">
      <th mat-header-cell *matHeaderCellDef> Azioni </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button [routerLink]="['/dati-energetici', 'dettaglio-dati', element.idDati]">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-button [routerLink]="['/dati-energetici', 'modifica-dati', element.idDati]">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="tableDat"></tr>
    <tr mat-row *matRowDef="let row; columns: tableDat;"></tr>
  </table>
  <mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
</div>
