<h4>Modifica Configurazione</h4>
  <form [formGroup]="configForm" (ngSubmit)="submit()">
      <div class="flex-container">
        <div class="flex-col">
          <mat-card>
            <div class="section-box">
              <div class="section-title">DATI CONFIGURAZIONE</div>
              <div class="field-group">
                <div class="row">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Codice Cabina</mat-label>
                    <input matInput formControlName="codiceCabina" aria-label="codiceCabina">
                    <mat-error *ngIf="configForm.get('codiceCabina')?.invalid && (configForm.get('codiceCabina')?.touched || submitted)">
                      Campo obbligatorio
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Anno Attivazione</mat-label>
                    <input matInput formControlName="annoAttivazione" aria-label="annoAttivazione">
                    <mat-error *ngIf="configForm.get('annoAttivazione')?.invalid && (configForm.get('annoAttivazione')?.touched || submitted)">
                      Campo obbligatorio
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Ragione Sociale</mat-label>
                    <input matInput formControlName="ragioneSociale" aria-label="ragioneSociale">
                    <mat-error *ngIf="configForm.get('ragioneSociale')?.invalid && (configForm.get('ragioneSociale')?.touched || submitted)">
                      Campo obbligatorio
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
      <div class="div-button">
        <button mat-raised-button color="primary" type="submit" class="button button-edit">
          <mat-icon>edit</mat-icon>Modifica
        </button>
        <button mat-flat-button color="accent" class="button">Cancella</button>
        <button mat-raised-button class="button">Ripristina</button>
        <button mat-raised-button routerLink="/configurazione" class="button">Indietro</button>
      </div>
</form>

