<h2>Dashboard Comunità Energetiche</h2>

<div class="kpi-grid">

  <div class="kpi-card blue">
    <div class="kpi-icon">⚡</div>
    <div class="kpi-content">
      <div class="kpi-value">{{ animatedComunita }}</div>
      <div class="kpi-label">Comunità Energetiche</div>
    </div>
  </div>

  <div class="kpi-card green">
    <div class="kpi-icon">🏭</div>
    <div class="kpi-content">
      <div class="kpi-value">{{ animatedImpianti }}</div>
      <div class="kpi-label">Impianti</div>
    </div>
  </div>

  <div class="kpi-card purple">
    <div class="kpi-icon">👥</div>
    <div class="kpi-content">
      <div class="kpi-value">{{ animatedConfigurazioniAttive }}</div>
      <div class="kpi-label">Configurazioni Attive</div>
    </div>
  </div>

  <div class="kpi-card orange">
    <div class="kpi-icon">💰</div>
    <div class="kpi-content">
      <div class="kpi-value">{{ animatedIncentivi }}</div>
      <div class="kpi-label">Incentivi Erogati</div>
    </div>
  </div>

  <div class="kpi-card red">
    <div class="kpi-icon">📈</div>
    <div class="kpi-content">
      <div class="kpi-value">{{ animatedValore }}</div>
      <div class="kpi-label">Valore Incentivi €</div>
    </div>
  </div>

</div> 


<!-- CARD DEL GRAFICO SEPARATA -->
<!-- RIGA 1 -->
<div class="charts-row">

  <!-- DONUT 1 -->
  <div class="kpi-card yellow donut-kpi-card">
    <h4>Stato Attività</h4>

    <div class="chart-wrapper">
      <app-donut-chart
        [values]="chartValues"
        [labels]="chartLabels">
      </app-donut-chart>
    </div>
  </div>

  <!-- DONUT 2 -->
  <div class="kpi-card yellow donut-kpi-card">
    <h4>Tipologia</h4>

    <div class="chart-wrapper">
      <app-donut-chart
        [values]="chartValues1"
        [labels]="chartLabels1">
      </app-donut-chart>
    </div>
  </div>

</div>

<!-- RIGA 2 -->
<div class="charts-row">

  <!-- ISTOGRAMMA 1 -->
  <div class="kpi-card yellow donut-kpi-card">
    <h4>Top Cer</h4>

    <div class="chart-wrapper">
      <app-column-chart
        [values]="valuesTopCer"
        [labels]="labelsTopCer"
        [name]="nameTopCer">
      </app-column-chart>
    </div>
  </div>

  <!-- ISTOGRAMMA 2 -->
  <div class="kpi-card yellow donut-kpi-card">
    <h4>Energia Annuale</h4>

    <div class="chart-wrapper">
      <app-column-chart
        [values]="valuesSummary"
        [labels]="labelsSummary"
        [name]="nameSummary">
      </app-column-chart>
    </div>
  </div>

</div>
