<h2>Dashboard Comunità Energetiche</h2>

<div class="kpi-grid">

  <div class="kpi-card blue">
    <div class="kpi-icon">⚡</div>
    <div class="kpi-content">
      <div class="kpi-value">{{ animatedComunita }}</div>
      <div class="kpi-label">Comunità Energetiche</div>
    </div>
  </div>

  <div class="kpi-card green">
    <div class="kpi-icon">🏭</div>
    <div class="kpi-content">
      <div class="kpi-value">{{ animatedImpianti }}</div>
      <div class="kpi-label">Impianti</div>
    </div>
  </div>

  <div class="kpi-card purple">
    <div class="kpi-icon">👥</div>
    <div class="kpi-content">
      <div class="kpi-value">{{ animatedConfigurazioniAttive }}</div>
      <div class="kpi-label">Configurazioni Attive</div>
    </div>
  </div>

  <div class="kpi-card orange">
    <div class="kpi-icon">💰</div>
    <div class="kpi-content">
      <div class="kpi-value">{{ animatedIncentivi }}</div>
      <div class="kpi-label">Incentivi Erogati</div>
    </div>
  </div>

  <div class="kpi-card red">
    <div class="kpi-icon">📈</div>
    <div class="kpi-content">
      <div class="kpi-value">{{ animatedValore }}</div>
      <div class="kpi-label">Valore Incentivi €</div>
    </div>
  </div>

</div> 


<!-- CARD DEL GRAFICO SEPARATA -->
<div class="kpi-card yellow donut-kpi-card">

  <div >
    <app-donut-chart
      class="donut-chart"
      [values]="chartValues"
      [labels]="chartLabels">
    </app-donut-chart>
  </div> 
</div>

