<div>
  <div class="h3-header">
    <h1>
      <span [matBadge]="cer.length" matBadgeOverlap="true" class="span-h2">{{ "dashboard-title" | translate }}</span>
    </h1>
  </div>
  <div class="filtro" rows="3">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Ragione Sociale</mat-label>
      <input [(ngModel)]="filtro.ragSociale" matInput type="text" aria-label="ragSociale" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Codice Fiscale</mat-label>
      <input [(ngModel)]="filtro.codFisc" matInput type="text" aria-label="codFisc" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Partita IVA</mat-label>
      <input [(ngModel)]="filtro.pIva" matInput type="text" aria-label="pIva" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Comune Legale</mat-label>
      <input [(ngModel)]="filtro.comune" matInput type="text" aria-label="comune" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Provincia Legale</mat-label>
      <input [(ngModel)]="filtro.provincia" matInput type="text" aria-label="provincia" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Regione Legale</mat-label>
      <input [(ngModel)]="filtro.regione" matInput type="text" aria-label="regione" />
    </mat-form-field>
    <div class="button-filtro">
      <button mat-raised-button color="primary" type="button" value="Cerca" aria-label="Cerca" (click)="filtraCER()"><mat-icon>search</mat-icon> Ricerca</button>
      <button mat-raised-button type="button" (click)="resetFiltro()"><mat-icon>close</mat-icon> Reset</button>
    </div>
  </div>
</div>
<div class="table">
  <table mat-table [dataSource]="isFiltering ? listaFiltrata : dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
    <ng-container matColumnDef="ragSociale">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="ragSociale">Ragione Sociale</th>
      <td mat-cell *matCellDef="let element">{{ element.ragSociale }}</td>
    </ng-container>
    <ng-container matColumnDef="codFisc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="codFisc">Codice Fiscale</th>
      <td mat-cell *matCellDef="let element">{{ element.codFisc }}</td>
    </ng-container>
    <ng-container matColumnDef="pIva">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="pIva">Partita IVA</th>
      <td mat-cell *matCellDef="let element">{{ element.pIva }}</td>
    </ng-container>
    <ng-container matColumnDef="comune">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="comune">Comune Legale</th>
      <td mat-cell *matCellDef="let element" class="comune">{{ element.comune }}</td>
    </ng-container>
    <ng-container matColumnDef="provincia">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="provincia">Provincia Legale</th>
      <td mat-cell *matCellDef="let element" class="provincia">{{ element.provincia }}</td>
    </ng-container>
    <ng-container matColumnDef="regione">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="regione">Regione Legale</th>
      <td mat-cell *matCellDef="let element" class="regione">{{ element.regione }}</td>
    </ng-container>
    <ng-container matColumnDef="azioni">
      <th mat-header-cell *matHeaderCellDef>Azioni</th>
      <td mat-cell *matCellDef="let element" class="button-td">
        <button mat-button [routerLink]="['/cer', 'dettaglio-cer', element.idCer]">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-button [routerLink]="['/cer', 'modifica-cer', element.idCer]">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="tableCER"></tr>
    <tr mat-row *matRowDef="let row; columns: tableCER"></tr>
  </table>
  <mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
</div>
