button {
  margin: 5px;
}

mat-form-field {
  margin: 5px;
}

.password {
  width: 46.5%;
}

.register {
  width: 70%;
  background-color: white;
  padding: 2%;
  margin: 2%;
  justify-items: center;
}

.button {
  margin-left: 27%;
}

.campo-obbligatorio {
  font-size: 10px;
  color: grey;
  font-style: italic;
}

.image {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-container-color: var(--app-secondary);
}
