<div class="container">
  <div class="register">
    <h3>Registrazione</h3>
    <div [formGroup]="form">
      <div rows="2">
        <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>
          <input type="text" matInput formControlName="name" aria-label="nome" required />
          <mat-icon matSuffix>id_card</mat-icon>
          <mat-error appFormControlError [control]="form.get('name')" label="Nome" [customMessages]="nomeErrorMessages"></mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Cognome</mat-label>
          <input type="text" matInput formControlName="surname" aria-label="cognome" required />
          <mat-icon matSuffix>id_card</mat-icon>
          <mat-error appFormControlError [control]="form.get('surname')" label="Cognome" [customMessages]="cognomeErrorMessages"></mat-error>
        </mat-form-field>
      </div>
      <div rows="2">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input type="text" matInput formControlName="email" aria-label="email" required />
          <mat-icon matSuffix>email</mat-icon>
          <mat-error appFormControlError [control]="form.get('email')" label="Email"></mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Saldo</mat-label>
          <input type="number" matInput formControlName="balance" step="0.01" aria-label="balance" required />
          <mat-icon matSuffix>euro</mat-icon>
          <mat-error appFormControlError [control]="form.get('balance')" label="Saldo"></mat-error>
        </mat-form-field>
      </div>
      <div rows="2">
        <mat-form-field appearance="fill" class="password">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" [type]="hide ? 'text' : 'password'" aria-label="password" required />
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-hint>Minimo 6 caratteri</mat-hint>
          <mat-error appFormControlError [control]="form.get('password')" label="Password" [customMessages]="passwordErrorMessages"></mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="password">
          <mat-label>Conferma Password</mat-label>
          <input matInput formControlName="confermaPassword" [type]="hide ? 'text' : 'password'" aria-label="password" required />
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-hint>Minimo 6 caratteri</mat-hint>
          <mat-error appFormControlError [control]="form.get('confermaPassword')" label="Conferma password" [customMessages]="confermaPasswordErrorMessages"></mat-error>
        </mat-form-field>
      </div>
      <div rows="2" class="button">
        <button mat-raised-button color="primary" (click)="onSubmit()" routerLink="/login">Registrati</button>
        <button mat-raised-button color="primary" routerLink="/">Annulla</button>
      </div>
    </div>
    <span style="font-size: 12px; color: grey; display: block; text-align: center; margin-top: 15px;">Hai già un account? <a routerLink="/login" style="color: #3f51b5; text-decoration: none;">Accedi</a></span>
    <mat-hint class="campo-obbligatorio">Campi obbligatori *</mat-hint>
  </div>
  <div class="image">
    <img src="../../../../../assets/img/spesa.png" alt="Spesa"/>
  </div>
</div>
