<div class="register">
  <h3>Registrazione</h3>
  <br />
  <div [formGroup]="form">
    <div rows="2">
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input type="text" matInput formControlName="nome" aria-label="nome" required />
        <mat-icon matSuffix>id_card</mat-icon>
        <mat-error *ngIf="form.get('nome')?.hasError('required') && form.get('nome')?.touched" label="Nome">Nome è obbligatorio</mat-error>
        <mat-error *ngIf="form.get('nome')?.hasError('pattern') && form.get('nome')?.touched" label="Nome">il nome inserito non è

        </mat-error> 
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Cognome</mat-label>
        <input type="text" matInput formControlName="cognome" aria-label="cognome" required />
        <mat-icon matSuffix>id_card</mat-icon>
        <mat-error  *ngIf="form.get('cognome')?.hasError('required') && form.get('cognome')?.touched" label="Cognome">Cognome è obbligatorio</mat-error>
        <mat-error *ngIf="form.get('cognome')?.hasError('pattern') && form.get('cognome')?.touched" label="Cognome">il cognome inserito non è valido</mat-error> 
      </mat-form-field>
    </div>
    <div rows="2">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input type="text" matInput formControlName="email" aria-label="email" required />
        <mat-icon matSuffix>mail</mat-icon>
        <mat-error *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched" label="Email">Email obbligatoria</mat-error>
        <mat-error *ngIf="form.get('email')?.hasError('email') && form.get('email')?.touched" label="Email">Email non valida</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="password">
        <mat-label>Password</mat-label>
        <input matInput formControlName="pwd" [type]="hide ? 'text' : 'password'" aria-label="password" required />
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-hint class="campo-obbligatorio">Minimo 8 caratteri</mat-hint>
        <mat-error *ngIf="form.get('pwd')?.hasError('required') && form.get('pwd')?.touched" label="Password">Password obbligatoria</mat-error>
        <mat-error *ngIf="form.get('pwd')?.hasError('minlength') && form.get('pwd')?.touched" label="Password">Password troppo corta</mat-error>
        <mat-error *ngIf="form.get('pwd')?.hasError('pattern') && form.get('pwd')?.touched" label="Password">Password non valida</mat-error>
      </mat-form-field>
    </div>
    <div  class="register-button">
      <button mat-raised-button color="primary" (click)="onSubmit()">Registrati</button>
    </div>
    <div style="display: flex; justify-content: center; gap: 10px; margin-top: 15px">
      <p>Hai già un account?</p><a (click)="login()" style="text-decoration: underline; cursor: pointer; color: blue;">Accedi</a>
    </div>
  </div>

  <mat-hint class="campo-obbligatorio">
    Campi obbligatori *<br> 
    Requisiti password: minimo 8 caratteri, una lettera maiuscola, una lettera minuscola e un numero
  </mat-hint>
</div>
