<h4>Dettaglio Dati Energetici</h4>
<form [formGroup]="datiEnergeticiForm">
  <div class="flex-container">
    <div class="flex-col">
      <mat-card>
        <div class="section-box">
          <div class="section-title">DATI ENERGETICI</div>
          <div class="field-group">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Anno</mat-label>
              <input matInput formControlName="anno" aria-label="anno" required>
            </mat-form-field>
          </div>
        </div>
        <div class="section-box">
          <div class="section-title">DATI CER</div>
          <div class="field-group">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Ragione Sociale</mat-label>
              <input matInput formControlName="ragSociale" aria-label="ragSociale" required>
            </mat-form-field>
          </div>
        </div>
        <div class="section-box">
          <div class="section-title">ENERGIA</div>
          <div class="field-group">
            <div class="row">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Energia Prodotta</mat-label>
                <input matInput type="number" formControlName="eProdotta" aria-label="eProdotta" required>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Energia Prelevata</mat-label>
                <input matInput type="number" formControlName="ePrelevata" aria-label="ePrelevata" required>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Energia Immessa</mat-label>
                <input matInput type="number" formControlName="eImmessa" aria-label="eImmessa" required>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Energia Condivisa</mat-label>
                <input matInput type="number" formControlName="eCondivisa" aria-label="eCondivisa" required>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Energia Autoconsumata</mat-label>
                <input matInput type="number" formControlName="eAutoCons" aria-label="eAutoCons"required>
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="flex-col">
      <mat-card>
        <div class="section-box">
          <div class="section-title">DATI CONFIGURAZIONE</div>
          <div class="field-group">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>COD.Cabina</mat-label>
              <input matInput formControlName="codiceCabina" aria-label="codiceCabina" required>
            </mat-form-field>
          </div>
        </div>
        <div class="section-box">
          <div class="section-title">PREMI</div>
          <div class="field-group">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Tariffa Premio</mat-label>
              <input matInput formControlName="tariffaPremium" aria-label="tariffaPremium" required>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Corrispettivo Premio</mat-label>
              <input matInput formControlName="corrPremioOtt" aria-label="corrPremioOtt" required>
            </mat-form-field>
          </div>
        </div>
        <div class="section-box">
          <div class="section-title">RIDUZIONI</div>
          <div class="field-group">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Riduzione Emissione</mat-label>
              <input matInput formControlName="ridEmCo2" aria-label="ridEmCo2" required>
            </mat-form-field>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="div-button">
    <button mat-raised-button routerLink="/dati-energetici" class="button">
      Indietro
    </button>
  </div>
</form>
