<h4>Dettaglio Dati Energetici</h4>
<form [formGroup]="datiEnergeticiForm">
  <div class="flex-container">
    <div class="flex-col">
      <mat-card>
        <div class="section-box">
          <div class="section-title">DATI CER</div>
          <div class="field-group">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Anno</mat-label>
              <input matInput formControlName="anno" aria-label="anno" required>
            </mat-form-field>
          </div>
        </div>
        <div class="section-box">
          <div class="section-title">ENERGIA</div>
          <div class="field-group">
            <div class="row">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Energia Prodotta</mat-label>
                <input matInput type="number" formControlName="eProdotta" aria-label="energia_prodotta" required>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Energia Prelevata</mat-label>
                <input matInput type="number" formControlName="ePrelevata" aria-label="energia_prelevata" required>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Energia Immessa</mat-label>
                <input matInput type="number" formControlName="eImmessa" aria-label="energia_immessa" required>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Energia Condivisa</mat-label>
                <input matInput type="number" formControlName="eCondivisa" aria-label="energia_condivisa" required>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Energia Autoconsumate</mat-label>
                <input matInput type="number" formControlName="eAutoCons" aria-label="energia_autoconsumata"required>
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="flex-col">
      <mat-card>
        <div class="section-box">
          <div class="section-title">PREMI</div>
          <div class="field-group">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Tariffa Premio</mat-label>
              <input matInput formControlName="tariffaPremium" aria-label="tariffaPremium" required>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Corrispettivo Premio</mat-label>
              <input matInput formControlName="corrPremioOtt" aria-label="corrPremioOtt" required>
            </mat-form-field>
          </div>
        </div>
        <div class="section-box">
          <div class="section-title">RIDUZIONI</div>
          <div class="field-group">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Riduzione Emissione</mat-label>
              <input matInput formControlName="ridEmCo2" aria-label="ridEmCo2" required>
            </mat-form-field>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div style="display: flex; justify-content: center; gap: 10px; margin-top: 15px">
    <button mat-raised-button routerLink="/configurazione" style="border-radius: 8px; min-width: 130px; height: 42px;">
      Indietro
    </button>
  </div>
</form>
