<h4>Dettaglio Configurazione</h4>
  <form [formGroup]="configForm">
      <div class="flex-container">
        <div class="flex-col">
          <mat-card>
            <div class="section-box">
              <div class="section-title">DATI CONFIGURAZIONE</div>
              <div class="field-group">
                <div class="row">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Codice Cabina</mat-label>
                    <input matInput formControlName="codiceCabina" aria-label="codiceCabina" required>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Anno Attivazione</mat-label>
                    <input matInput formControlName="annoAttivazione" aria-label="annoAttivazione" required>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
      <div style="display: flex; justify-content: center; gap: 10px; margin-top: 15px">
        <button mat-raised-button routerLink="/configurazione" style="border-radius: 8px; min-width: 130px; height: 42px;">
          Indietro
        </button>
      </div>
</form>
