<h4>Dettaglio Configurazione</h4>
  <form [formGroup]="configForm">
      <div class="flex-container">
        <div class="flex-col">
          <mat-card>
            <div class="section-box">
              <div class="section-title">DATI CONFIGURAZIONE</div>
              <div class="field-group">
                <div class="row">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Codice Cabina</mat-label>
                    <input matInput formControlName="codiceCabina" aria-label="codiceCabina">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Anno Attivazione</mat-label>
                    <input matInput formControlName="annoAttivazione" aria-label="annoAttivazione">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Ragione Sociale</mat-label>
                    <input matInput formControlName="ragioneSociale" aria-label="ragioneSociale">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
      <div class="div-button">
        <button mat-raised-button routerLink="/configurazione" class="button">
          Indietro
        </button>
      </div>
</form>
