<div class="carrello-container" *ngIf="carrello">
  <mat-card class="carrello-card">
    <div class="carrello-header">
      <div class="header-info">
        <h1>Il mio carrello</h1>
        <span>{{ carrello.articoli.length }} articoli</span>
      </div>

      <button
        mat-raised-button
        color="primary"
        routerLink="/prodotti">
        <mat-icon>arrow_back</mat-icon>
        Continua gli acquisti
      </button>
    </div>
    <div class="layout">
      <div class="col-sx">
        <mat-card
          class="articolo-card"
          *ngFor="let articolo of carrello.articoli">
          <div class="articolo">
            <div class="articolo-info">
              <h3 [routerLink]="['/prodotto', articolo.idProdotto]"                 
                [style.cursor]="'pointer'" 
                [style.color]="'#3f51b5'">
                    {{ articolo.nomeProdotto }}
              </h3>
              <p>
                {{ articolo.descrizioneBreve }}
              </p>
              <div class="categoria">
                {{ articolo.categoria }}
              </div>
            </div>
            <div class="articolo-dati">
              <span class="prezzo">
                {{ articolo.prezzo | currency:'EUR' }}
              </span>
                <mat-form-field appearance="outline" >
                  <mat-label>
                    Quantità
                  </mat-label>
                  <div [formGroup]="formAggiunta">
                  <input
                    matInput
                    formControlName="quantita"
                    type="number"
                    [min]="1"
                    [max]="articolo.prodotto.quantitaDisponibile"
                    [(ngModel)]="articolo.quantita"
                    (change)="aggiornaQuantita(articolo)"
                    (keyup.enter)="aggiornaQuantita(articolo)"
                  />
                  </div>
                  <mat-hint>qta max disponibile: {{articolo.prodotto.quantitaDisponibile}}</mat-hint>
                  <mat-error  *ngIf="articolo.quantita>articolo.prodotto.quantitaDisponibile || articolo.quantita <= 0">quantità non disponibile</mat-error>
                </mat-form-field>
              
              <span class="totale">
                Totale:
                {{(
                  articolo.quantita > 0 &&
                  articolo.quantita <= articolo.prodotto.quantitaDisponibile
                  ? articolo.prezzo * articolo.quantita
                  : 0
                  ) | currency:'EUR' 
                }}
              </span>
              <button
                mat-raised-button
                color="warn"
                (click)="rimuovi(articolo)">
                <mat-icon>
                  delete
                </mat-icon>
                Rimuovi
              </button>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="col-dx">
        <div class="riepilogo">
          <h2>
            Riepilogo
          </h2>
          <div class="riga">
            <span>
              Prodotti
            </span>
            <strong>
              {{ totaleArticoli }}
            </strong>
        </div>
          <div class="riga">
            <span>
              Totale
            </span>
            <strong class="totale-final">
              {{ totaleCarrello | currency:'EUR' }}
            </strong>
          </div>
          <button
            mat-raised-button
            [disabled]="totaleArticoli<=0 || !flagCheckout"
            color="primary"
            class="checkout"
            (click)="creaOrdine()">
                Procedi all'ordine
          </button>
          <mat-error *ngIf="!flagCheckout">Saldo insufficiente rimuovi degli articoli</mat-error>
        </div>
      </div>
    </div>
  </mat-card>
</div>