<section class="auth-page">
  <div class="auth-overlay"></div>

  <nav class="auth-navbar">
    <div class="brand-mini">
      <span class="menu-icon"></span>
      <span>MAJORBIT SHOP</span>
    </div>

    <div class="nav-links">
      <a routerLink="/login">ACCEDI</a>
    </div>
  </nav>

  <div class="auth-content">
    <div class="auth-card">
      <img
        class="auth-logo"
        src="assets/immages/Logo.png"
        alt="MajorBit Group"
      />

      <h1>Registrazione</h1>

      <form
        class="auth-form"
        [formGroup]="registrazioneForm"
        (ngSubmit)="registrati()"
      >
        <div class="input-group">
          <input type="text" placeholder="Nome" formControlName="nome" />
        </div>

        <div class="input-group">
          <input type="text" placeholder="Cognome" formControlName="cognome" />
        </div>

        <div class="input-group">
          <input type="email" placeholder="Email" formControlName="email" />
        </div>

        <div class="input-group password-group">
          <input
            [type]="passwordVisibile ? 'text' : 'password'"
            placeholder="Password"
            formControlName="password"
          />

          <button
            type="button"
            class="password-toggle"
            (click)="cambiaVisibilitaPassword()"
          >
            {{ passwordVisibile ? "Nascondi" : "Mostra" }}
          </button>
        </div>

        <div class="input-group password-group">
          <input
            [type]="confermaPasswordVisibile ? 'text' : 'password'"
            placeholder="Conferma password"
            formControlName="confermaPassword"
          />

          <button
            type="button"
            class="password-toggle"
            (click)="cambiaVisibilitaConfermaPassword()"
          >
            {{ confermaPasswordVisibile ? "Nascondi" : "Mostra" }}
          </button>
        </div>

        <button type="submit" class="primary-button" [disabled]="caricamento">
          {{ caricamento ? "Registrazione..." : "Crea account" }}
        </button>

        <div class="auth-actions">
          <a routerLink="/login">Hai gia un account? Accedi</a>
        </div>
      </form>
    </div>
  </div>
</section>
