<section class="auth-page">
  <div class="auth-overlay"></div>

  <nav class="auth-navbar">
    <div class="brand-mini">
      <span class="menu-icon">☰</span>
      <span>MAJORBIT SHOP</span>
    </div>

    <div class="nav-links">
      <a routerLink="/login">ACCEDEI</a>
      <a href="#">AIUTO?</a>
    </div>
  </nav>

  <div class="auth-content">
    <img class="auth-logo" src="assets/immages/Logo.png" alt="Majorbit Group" />

    <form
      class="auth-form"
      [formGroup]="registrazioneForm"
      (ngSubmit)="registrati()"
    >
      <div class="input-group">
        <span class="input-icon">👤</span>
        <input type="text" placeholder="Nome..." formControlName="nome" />
      </div>

      <div class="input-group">
        <span class="input-icon">👤</span>
        <input type="text" placeholder="Cognome..." formControlName="cognome" />
      </div>

      <div class="input-group">
        <span class="input-icon">✉️</span>
        <input type="email" placeholder="Email..." formControlName="email" />
      </div>

      <div class="input-group">
        <span class="input-icon">🔒</span>
        <input
          type="password"
          placeholder="Password..."
          formControlName="password"
        />
      </div>

      <div class="input-group">
        <span class="input-icon">🔒</span>
        <input
          type="password"
          placeholder="Conferma Password..."
          formControlName="confermaPassword"
        />
      </div>

      <button type="submit" class="primary-button" [disabled]="caricamento">
        {{ caricamento ? "Registrazione..." : "Crea account" }}
      </button>
      <p class="error-message" *ngIf="messaggioErrore">
        {{ messaggioErrore }}
      </p>

      <p class="success-message" *ngIf="messaggioSuccesso">
        {{ messaggioSuccesso }}
      </p>
      <div class="auth-actions single-link">
        <a routerLink="/login">HAI GIA UN ACCOUNT? ACCEDI</a>
      </div>
    </form>
  </div>
</section>
