<div class="configurazioni">
  <div class="h3-header">
    <h3>Configurazioni</h3>
    <div>
      <button mat-raised-button color="primary" routerLink="inserimento-configurazione"><mat-icon>add</mat-icon> Aggiungi Configurazione</button>
    </div>
  </div>
</div>
<div>
  <div class="filtro" rows="3">
    <h6>Filtra per:</h6>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Codice Cabina</mat-label>
      <input [(ngModel)]="filtro.codiceCabina" matInput type="text" aria-label="codiceCabina">
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Anno Attivazione</mat-label>
      <input [(ngModel)]="filtro.annoAttivazione" matInput type="text" aria-label="annoAttivazione">
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Partita IVA</mat-label>
      <input [(ngModel)]="filtro.pIva" matInput type="text" aria-label="pIva">
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Regione Legale</mat-label>
      <input [(ngModel)]="filtro.regioneLegale" matInput type="text" aria-label="regioneLegale">
    </mat-form-field>
    <div class="button-filtro">
      <button mat-raised-button color="primary" type="button" value="Cerca" aria-label="Cerca" (click)="filtraConfigurazione()">
        <mat-icon>search</mat-icon> Ricerca
      </button>
      <button mat-raised-button type="button" (click)="resetFiltro()">
        <mat-icon>close</mat-icon> Reset
      </button>
    </div>
  </div>
</div>
<div class="table">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
    <ng-container matColumnDef="codiceCabina">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="codiceCabina">COD.Cabina</th>
      <td mat-cell *matCellDef="let element">{{ element.codiceCabina }}</td>
    </ng-container>
    <ng-container matColumnDef="annoAttivazione">
      <th mat-header-cell  mat-sort-header="annoAttivazione" *matHeaderCellDef>Anno Attivazione</th>
      <td mat-cell *matCellDef="let element">{{ element.annoAttivazione }}</td>
    </ng-container>
    <ng-container matColumnDef="pIva">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="pIva">Partita Iva</th>
      <td mat-cell *matCellDef="let element">{{ element.cer.pIva }}</td>
    </ng-container>
    <ng-container matColumnDef="regioneLegale">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="regioneLegale">Regione Legale</th>
      <td mat-cell *matCellDef="let element">{{ element.cer.regioneLegale }}</td>
    </ng-container>
    <ng-container matColumnDef="azioni">
      <th mat-header-cell *matHeaderCellDef> Azioni </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button routerLink="dettaglio-configurazioni/:id">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-button routerLink="modifica-configurazioni/:id">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="tableConf"></tr>
    <tr mat-row *matRowDef="let row; columns: tableConf;"></tr>
  </table>
  <mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
</div>
<router-outlet></router-outlet>
