<div class="configurazioni">
  <h3>Configurazioni</h3>
   <div>
    <button mat-raised-button color="primary" routerLink="inserimento-configurazione"><mat-icon>add</mat-icon> Aggiungi Configurazione</button>
    <button mat-raised-button routerLink="/impianto"><mat-icon>bolt</mat-icon> Impianti</button>
    </div>
  <div class="filtro" rows="3">
    <h6>Filtra per:</h6>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Codice Cabina</mat-label>
      <input [(ngModel)]="filtro.codice_cabina" matInput type="text" aria-label="codice_cabina">
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Anno Attivazione</mat-label>
      <input [(ngModel)]="filtro.anno_attivazione" matInput type="text" aria-label="anno_attivazione">
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Partita IVA</mat-label>
      <input [(ngModel)]="filtro.partitaIva" matInput type="text" aria-label="partitaIva">
    </mat-form-field>
    <div class="button-filtro">
      <button mat-raised-button color="primary" type="button" value="Cerca" aria-label="Cerca" (click)="filtraConfigurazione()">
        <mat-icon>search</mat-icon> Ricerca
      </button>
      <button mat-raised-button type="button" (click)="resetFiltro()">
        <mat-icon>close</mat-icon> Reset
      </button>
    </div>
  </div>
  <!-- <div>
    <button mat-raised-button color="primary" routerLink="inserimento-configurazione"><mat-icon>add</mat-icon> Aggiungi Configurazione</button>
    <button mat-raised-button routerLink="/impianto"><mat-icon>bolt</mat-icon> Impianti</button>
  </div> -->
</div>
<div class="table">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
    <ng-container matColumnDef="codice_cabina">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="codice_cabina"> COD.Cabina </th>
      <td mat-cell *matCellDef="let element"> {{ element.codiceCabina }} </td>
    </ng-container>
    <ng-container matColumnDef="anno_attivazione">
      <th mat-header-cell  mat-sort-header="anno_attivazione" *matHeaderCellDef> Anno Attivazione</th>
      <td mat-cell *matCellDef="let element"> {{ element.anno_attivazione }} </td>
    </ng-container>
    <ng-container matColumnDef="partitaIva">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="partitaIva"> No. </th>
      <td mat-cell *matCellDef="let element"> {{ element.partitaIva }} </td>
    </ng-container>
    <ng-container matColumnDef="azioni">
      <th mat-header-cell *matHeaderCellDef> Azioni </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button routerLink="dettaglio-configurazioni/:id">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-button routerLink="modifica-configurazioni/:id">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="tableConf"></tr>
    <tr mat-row *matRowDef="let row; columns: tableConf;"></tr>
  </table>
  <mat-paginator class="b-shadow" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
</div>
<router-outlet></router-outlet>
