<h1>Login</h1>
<!-- <img> -->

<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="email-form">
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput formControlName="email" placeholder="user@example.com" required />
      <mat-error *ngIf="form.get('email')?.hasError('required')">You must enter a value: Email is mandatory</mat-error>

      <mat-error *ngIf="form.get('email')?.hasError('email') || form.get('email')?.hasError('pattern')">Invalid Email</mat-error>
    </mat-form-field>
  </div>

  <div class="password-form">
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" placeholder="12345678" required /><button mat-icon-button matSuffix type="button" (click)="hide = !hide">
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="form.get('password')?.hasError('minlength')">You must enter a value: Password is mandatory</mat-error>
    </mat-form-field>
  </div>

  <button type="submit">Log in</button>
</form>

<button (click)="submitOspite()">Continue as a Guest</button>
