mat-grid-tile {
  background: lightblue;
}

h5 {
  background-color: rgba(61, 133, 184, 0.228);
  width: 100%;
  text-align: center;
}

p {
  margin: 0px;
}

.body-conf {
  display: flex;
}

.cer-span p {
  text-decoration: underline;
  margin-right: 5px;
  text-align: end;
}

.cer-div-span {
  margin: 5px;
  display: flex;
  margin-left: 30%;
}

.header-cer {
  display: flex;
  justify-content: center;
  background-color: rgba(170, 164, 164, 0.548);
  padding-top: 5px;
}

.header-conf {
  display: flex;
}

.header-impianto {
  display: flex;
  justify-content: center;
}

.span-conf {
  margin-top: -2px;
}

.icon-span {
  margin-top: 4px;
  margin-left: 10px;
  background-color: transparent;
}

.icon-dat {
  padding-top: 5px;
}

.icon-col {
  display: flex;
  flex-direction: column;
}

.icon {
  margin-top: 3.8px;
}

.span-col {
  display: flex;
  flex-direction: column;
}

.section-1-cer {
  display: flex;
  width: 100%;
  margin: 10px;
}

.section-2-cer {
  width: 100%;
  margin: 10px;
}

.section-conf-dati {
  display: flex;
  width: 100%;
}

.strong {
  font-weight: bolder;
}

.span-conf {
  display: flex;;
}

.space-5-top {
  margin-top: 5px;
}

.space-2-top {
  margin-top: 3px;
}

.width-50 {
  width: 50%;
}
