<div class="container-dash">
  <div class="section-cer">
    <div class="header-cer">
      <h4>Sezione CER</h4>
      <span class="icon-span">
        <mat-icon>bar_chart</mat-icon>
      </span>
    </div>
    <div class="section-1-cer">
      <div class="section-1-cer width-50">
        <div>
          <p class="strong space-5-top">CER Autoconsumo attivo</p>
          <p class="space-5-top">CER Richiesta GSE</p>
          <p class="space-5-top">CER no autoconsumo e no Richiesta</p>
          <p class="space-5-top">CER Cancellate</p>
          <p class="space-5-top">CER da Aggiornare</p>
        </div>
        <div class="cer-div-span">
          <div class="span-col">
            <span class="cer-span">
              <p class="space-2-top">230</p>
            </span>
            <span class="cer-span">
              <p class="space-2-top">23</p>
            </span>
            <span class="cer-span">
              <p class="space-2-top">8</p>
            </span>
            <span class="cer-span">
              <p class="space-2-top">12</p>
            </span>
            <span class="cer-span">
              <p class="space-2-top">8</p>
            </span>
          </div>
          <div class="icon-col">
            <mat-icon class="icon">list</mat-icon>
            <mat-icon class="icon">list</mat-icon>
            <mat-icon class="icon">list</mat-icon>
            <mat-icon class="icon">list</mat-icon>
            <mat-icon class="icon">list</mat-icon>
          </div>
        </div>
      </div>
      <div class="width-50"></div>
    </div>
    <div class="section-conf-dati">
      <div class="section-2-cer width-50">
        <h5>Sezione Configurazioni</h5>
        <div class="header-conf">
          <h6 class="strong">Configurazioni attive</h6>
          <span class="span-conf">
            <p>230</p>
            <mat-icon class="icon">list</mat-icon>
          </span>
        </div>
        <div class="body-conf">
          <div>
            <h6 class="strong">Configurazioni attive</h6>
            <p class="space-5-top">CER Richiesta GSE</p>
            <p class="space-5-top">CER no autoconsumo e no Richiesta</p>
            <p class="space-5-top">CER Cancellate</p>
            <p class="space-5-top">CER da Aggiornare</p>
          </div>
          <div class="cer-div-span">
            <div class="span-col">
              <span class="cer-span">
                <p class="space-2-top">230</p>
              </span>
              <span class="cer-span">
                <p class="space-2-top">23</p>
              </span>
              <span class="cer-span">
                <p class="space-2-top">8</p>
              </span>
              <span class="cer-span">
                <p class="space-2-top">12</p>
              </span>
              <span class="cer-span">
                <p class="space-2-top">8</p>
              </span>
            </div>
            <div class="icon-col">
              <mat-icon class="icon">list</mat-icon>
              <mat-icon class="icon">list</mat-icon>
              <mat-icon class="icon">list</mat-icon>
              <mat-icon class="icon">list</mat-icon>
              <mat-icon class="icon">list</mat-icon>
            </div>
          </div>
        </div>
        <div class="section-2-cer width-50">
          <h5>Sezione dati energetici
            <span>
              <mat-icon class="icon-dat">bar_chart</mat-icon>
            </span>
          </h5>
          <div class="header-conf">
            <h6>Configurazioni attive</h6>
            <span class="span-conf">
              <p>230</p>
              <mat-icon class="icon">list</mat-icon>
            </span>
          </div>
          <div></div>
      </div>
    </div>
  </div>
  <div class="section-impianto">
    <div class="header-impianto">
      <h4>Sezione Impianto</h4>
      <span>
        <mat-icon>bar_chart</mat-icon>
      </span>
    </div>
    <mat-grid-list cols="2" rowHeight="1:1">
      <mat-grid-tile>1</mat-grid-tile>
      <mat-grid-tile>2</mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
