<h4>Dettaglio CER</h4>
<form [formGroup]="cerForm">
  <div class="flex-container">
    <div class="flex-col">
      <mat-card>
        <div class="section-box">
          <div class="section-title">ANAGRAFICA</div>
          <div class="field-group">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Ragione Sociale</mat-label>
              <input matInput formControlName="ragioneSociale" aria-label="ragioneSociale">
            </mat-form-field>
            <div class="row">
              <mat-form-field appearance="outline" class="half-width">
                <mat-label>Partita IVA</mat-label>
                <input matInput formControlName="partitaIva" aria-label="partitaIva">
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Codice Fiscale</mat-label>
                <input matInput formControlName="codiceFiscale" aria-label="codiceFiscale">
              </mat-form-field>
            </div>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Forma giuridica CER</mat-label>
              <input matInput formControlName="formaGiuridica" aria-label="formaGiuridica">
            </mat-form-field>
          </div>
        </div>
        <div class="section-box">
          <div class="section-title">REFERENTE</div>
          <div class="field-group">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Nome e Cognome Referente</mat-label>
              <input matInput formControlName="referente" aria-label="referente">
            </mat-form-field>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="flex-col">
      <mat-card>
        <div class="section-box">
          <div class="section-title">CONTATTI</div>
          <div class="field-group">
            <div class="row">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Telefono</mat-label>
                <input matInput formControlName="telefono" aria-label="telefono">
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" aria-label="email">
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>PEC</mat-label>
                <input matInput formControlName="pec" aria-label="pec">
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Sito Web</mat-label>
                <input matInput formControlName="sitoWeb" aria-label="sitoWeb">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="section-box">
          <div class="section-title">SEDE LEGALE</div>
          <div class="field-group">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Comune sede legale</mat-label>
              <mat-select formControlName="comuneLegale" aria-label="comuneLegale" required>
                <mat-option>
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Provincia sede legale</mat-label>
              <mat-select formControlName="provinciaLegale" aria-label="provinciaLegale" required>
                <mat-option>
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Regione sede legale</mat-label>
              <mat-select formControlName="regioneLegale" aria-label="regioneLegale" required>
                <mat-option>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="div-button">
    <button mat-raised-button routerLink="/cer" class="button">
      Indietro
    </button>
  </div>
</form>
