<div>
  <h3 class="demo-section">
    <span [matBadge]="cer.length" matBadgeOverlap="true" style="padding-right: 10px;">Gestione Comunità Energetiche</span>
  </h3>
  <div class="filtro" rows="3">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Ragione Sociale</mat-label>
      <input [(ngModel)]="filtro.ragioneSociale" matInput type="text" aria-label="ragioneSociale">
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Codice Fiscale</mat-label>
      <input [(ngModel)]="filtro.codiceFiscale" matInput type="text" aria-label="codiceFiscale">
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Partita IVA</mat-label>
      <input [(ngModel)]="filtro.partitaIva" matInput type="text" aria-label="partitaIva">
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Comune Legale</mat-label>
      <input [(ngModel)]="filtro.comuneLegale" matInput type="text" aria-label="comuneLegale">
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Provincia Legale</mat-label>
      <input [(ngModel)]="filtro.provinciaLegale" matInput type="text" aria-label="provinciaLegale">
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Regione Legale</mat-label>
      <input [(ngModel)]="filtro.regioneLegale" matInput type="text" aria-label="regioneLegale">
    </mat-form-field>
    <div class="button-filtro">
      <button mat-raised-button color="primary" type="button" value="Cerca" aria-label="Cerca" (click)="filtraCER()">
        <mat-icon>search</mat-icon> Ricerca
      </button>
      <button mat-raised-button type="button" (click)="resetFiltro()">
        <mat-icon>close</mat-icon> Reset
      </button>
    </div>
  </div>
</div>
<div class="table">
  <table mat-table [dataSource]="isFiltering ? listaFiltrata : dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
    <ng-container matColumnDef="ragioneSociale">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="ragioneSociale">Ragione Sociale</th>
      <td mat-cell *matCellDef="let element"> {{ element.ragSociale }} </td>
    </ng-container>
    <ng-container matColumnDef="codiceFiscale">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="codiceFiscale">Codice Fiscale</th>
      <td mat-cell *matCellDef="let element"> {{ element.codFisc }} </td>
    </ng-container>
    <ng-container matColumnDef="partitaIva">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="partitaIva">Partita IVA</th>
      <td mat-cell *matCellDef="let element"> {{ element.pIva }} </td>
    </ng-container>
    <ng-container matColumnDef="comuneLegale">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="comuneLegale">Comune Legale</th>
      <td mat-cell *matCellDef="let element"> {{ element.comune }} </td>
    </ng-container>
    <ng-container matColumnDef="provinciaLegale">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="provinciaLegale">Provincia Legale</th>
      <td mat-cell *matCellDef="let element"> {{ element.provincia }} </td>
    </ng-container>
    <ng-container matColumnDef="regioneLegale">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="regioneLegale">Regione Legale</th>
      <td mat-cell *matCellDef="let element"> {{ element.regione }} </td>
    </ng-container>
    <ng-container matColumnDef="azioni">
      <th mat-header-cell *matHeaderCellDef> Azioni </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button [routerLink]="['/cer', 'dettaglio-cer', element.idCer]" [disabled]="!element.idCer">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-button [routerLink]="['/cer', 'modifica-cer', element.idCer]" [disabled]="!element.idCer">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="tableCER"></tr>
    <tr mat-row *matRowDef="let row; columns: tableCER;"></tr>
  </table>
  <mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
</div>
<div>
  <br>
  <button mat-raised-button color="primary" [routerLink]="['/cer', 'inserimento-cer']">
    <mat-icon>add</mat-icon>
    Aggiungi una nuova CER
  </button>
</div>
