th {
  font-weight: bold;
}

h3 {
  font-size: large;
}

.form-field {
  margin-left: 6px;
  margin-right: 6px;
  width:32%;
}

.table {
  margin-top: 20px;
}

.button-filtro, button {
  margin: 5px;
}

.button-filtro {
  justify-self: center;
}

.filtro {
  background-color: white;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);

  padding:10px;
}
