<section class="auth-page">
  <div class="auth-overlay"></div>

  <nav class="auth-navbar">
    <div class="brand-mini">
      <span class="menu-icon"></span>
      <span>MAJORBIT SHOP</span>
    </div>

    <div class="nav-links">
      <a routerLink="/registrazione">CREA ACCOUNT</a>
    </div>
  </nav>

  <div class="auth-content">
    <div class="auth-card">
      <img
        class="auth-logo"
        src="assets/immages/Logo.png"
        alt="MajorBit Group"
      />

      <h1>Login</h1>

      <form class="auth-form" [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="input-group">
          <span class="input-icon">✉</span>
          <input type="email" placeholder="Email" formControlName="email" />
        </div>

        <div class="input-group">
          <span class="input-icon">⌕</span>
          <input
            type="password"
            placeholder="Password"
            formControlName="password"
          />
        </div>

        <button type="submit" class="primary-button" [disabled]="caricamento">
          {{ caricamento ? "Accesso..." : "Accedi" }}
        </button>

        <div class="auth-actions">
          <a routerLink="/registrazione">Non hai un account? Registrati</a>
        </div>
      </form>
    </div>
  </div>
</section>
