<mat-toolbar class="app-toolbar">
  <span class="title" routerLink="/">
    My<span class="brand">Store</span>
    <img src="assets/img/logo.png" alt="Logo" class="logo"/>
  </span>

  <div class="search-bar">
    <input matInput placeholder="Cerca prodotti" [(ngModel)]="searchTerm" (input)="onSearchChange()" aria-label="Cerca prodotti"/>
    <button mat-raise-button matSuffix (click)="search()" aria-label="Cerca">
      Cerca
      <mat-icon class="icon-button">search</mat-icon>
    </button>
  </div>
  <div class="search-results" *ngIf="results.length > 0">
    <div class="result-item" *ngFor="let p of results" (click)="goToProduct(p.id)">
      <img [src]="p.immagine" alt="img">
      <span>{{ p.nomeProdotto }}</span>
      <span class="price">{{ p.prezzo }} €</span>
    </div>
  </div>
  <div class="profile-menu">
    <button mat-button aria-label="Profilo" [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
      <span *ngIf="!(isLoggedIn$ | async)" class="text">Accedi</span>
      <span *ngIf="isLoggedIn$ | async" class="text">
        {{ (user$ | async)?.name }}
        {{ (user$ | async)?.surname }}
        ({{ (user$ | async)?.balance | number:'1.2-2' }}€)
      </span>
      <mat-menu #menu="matMenu">
        <button *ngIf="!(isLoggedIn$ | async)" mat-menu-item routerLink="login">Login</button>
        <button *ngIf="isLoggedIn$ | async" mat-menu-item routerLink="/">Home</button>
        <button *ngIf="isLoggedIn$ | async" mat-menu-item [routerLink]="['/profilo', (user$ | async)?.id]">Profilo</button>
        <button *ngIf="isLoggedIn$ | async" mat-menu-item routerLink="/ordini">Ordini</button>
        <button *ngIf="isLoggedIn$ | async" mat-menu-item (click)="logout()" routerLink="/">Logout</button>
      </mat-menu>
    </button>
  </div>
  <div class="cart">
    <button mat-button aria-label="carrello" [routerLink]="['/carrello', (user$ | async)?.id]">
      <mat-icon>shopping_cart</mat-icon>
      <span class="text">Carrello ({{ cartCount$ | async }})</span>
    </button>
  </div>
</mat-toolbar>
<nav>
  <a routerLink="/">Tutte le categorie</a>
  <a routerLink="/offerte">Offerte</a>
  <a (click)="advancedSearchElettronica()">Elettronica</a>
  <a (click)="advancedSearchCasa()">Casa e cucina</a>
  <a (click)="advancedSearchLibri()">Libri</a>
  <a (click)="advancedSearchModa()">Moda</a>
  <a (click)="advancedSearchSport()">Sport</a>
</nav>
