<mat-toolbar class="app-toolbar">
  <button mat-icon-button (click)="toggleSidebar.emit()" aria-label="Apri/chiudi menu">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="title">CER Gestionale</span>

  <span class="spacer"></span>

  <button mat-icon-button aria-label="Notifiche">
    <mat-icon>notifications</mat-icon>
  </button>
  <button mat-icon-button aria-label="Profilo" [matMenuTriggerFor]="menu" #menuTrigger>
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openDialog()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Log Out</span>
    </button>

  </mat-menu>


</mat-toolbar>
