<h2 mat-dialog-title>{{ data.titolo }}</h2>

<mat-dialog-content>
  <p class="messaggio">{{ data.messaggio }}</p>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input
      matInput
      [type]="nascondiPassword ? 'password' : 'text'"
      [formControl]="password"
      autocomplete="current-password"
    />
    <button
      mat-icon-button
      matSuffix
      type="button"
      (click)="nascondiPassword = !nascondiPassword"
      [attr.aria-label]="nascondiPassword ? 'Mostra password' : 'Nascondi password'"
    >
      <mat-icon>{{ nascondiPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
    </button>
    <mat-error *ngIf="password.hasError('required')">
      La password e obbligatoria.
    </mat-error>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button type="button" (click)="annulla()">Annulla</button>
  <button mat-raised-button color="warn" type="button" (click)="conferma()">
    Conferma
  </button>
</mat-dialog-actions>
