.auth-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10px;
  min-height: 100vh;
  background-image: url('/assets/images/sfondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.auth-header {
  margin-bottom: 4px;
}

.logo {
  height: 115px;
}

.auth-card {
  width: 100%;
  max-width: 420px;
  padding: 24px;
  background-color: #f1e0cc !important;
}

.full-width {
  width: 100%;
  margin-bottom: 12px;
}

.ricordami {
  margin-bottom: 16px;
}

.register-link {
  text-align: center;
  margin-top: 16px;

  a {
    color: #1a237e;
    font-weight: bold;
  }
}