button {
  margin: 5px;
}

.title {
    // color: #6bb7ff;
    color: #3a8fe6;
}

.label {
    color: #3a8fe6;
}

.descr {
 color: #6bb7ff;   
}

.profile-container {
    background-color: white;
    width: 40%;
    border: 1px solid #d0d0d0;
    border-radius: 16px;
    padding: 20px;
    backround: #fff;
    margin-left: 20px;
}

h2 {
    margin-left: 20px;
}