@import '@angular/material/prebuilt-themes/indigo-pink.css';

.edit-card {
  max-width: 1100px;
  margin: 20px auto;
  padding: 24px;
  border-radius: 16px;
}

.header h2 {
  margin: 0;
  font-weight: 600;
}

.header p {
  margin: 4px 0 16px;
  color: #64748b;
}

.section-title {
  margin-top: 20px;
  margin-bottom: 10px;
}

.grid-2,
.grid-3 {
  gap: 16px;
  margin-bottom: 16px;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.divider-wrapper {
  padding: 16px 0;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

mat-divider {
  margin: 24px 0;
}

.success-snackbar{
  color:  #3634a5 !important;
}
