<h2>Profilo Utente</h2>
<br>
<div class="profile-container">
  <div class="profile-header">
    <div class="user-info">
      <h4 class="title"> Benvenuto!  {{ utente.nome }} {{ utente.cognome }}</h4>
        <br>
        <p>
            <span class="label">Nome:    </span>
            <span class="value">{{ utente.nome }}</span>
        </p>
        <p>
            <span class="label">Cognome:    </span>
            <span class="value">{{ utente.cognome }}</span>
        </p>
        <p>
            <span class="label">Codice fiscale:    </span>
            <span class="value">{{ utente.codiceFiscale }}</span>
        </p>
        <p>
            <span class="label">e-mail:    </span>
            <span class="value">{{ utente.mail }}</span>
        </p>
        <p>
            <span class="label">Password:    </span>
            <span class="value">{{ utente.password }}</span>
        </p>
        <p>
            <span class="label">Numero di telefono:    </span>
            <span class="value">{{ utente.numTelefono }}</span>
        </p>
        <p>
            <span class="label">Ruolo:    </span>
            <span class="value">{{ utente.ruolo }}</span>
        </p>
        <br>
        <div rows="2" class="button"></div>
            <button  mat-raised-button color="primary">Modifica e-mail</button>
            <button  mat-raised-button color="primary">Modifica password</button>
        </div>
    </div>
  </div>
