<div class="products-page">


  <mat-expansion-panel class="products-filter-container">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>filter_list</mat-icon>
        Filtri
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form class="products-filter" [formGroup]="filterForm">

      <div class="filter-field">
        <input type="number"
              placeholder="Prezzo min"
              formControlName="prezzoMin">
        
        <div style="color: #f44336; font-size: 12px;  
            line-height: 1.2;
            margin-top: 4px;
            display: block;
            font-family: Roboto, 
            sans-serif;"
          *ngIf="filterForm.get('prezzoMin')?.invalid &&
                filterForm.get('prezzoMin')?.touched">

          <span *ngIf="filterForm.get('prezzoMin')?.errors?.['min']">
            Il prezzo minimo è 0
          </span>
        </div>
      </div>


      <div class="filter-field">
        <input type="number"
              placeholder="Prezzo max"
              formControlName="prezzoMax">
        <div style="color: #f44336; font-size: 12px;  
            line-height: 1.2;
            margin-top: 4px;
            display: block;
            font-family: Roboto, 
            sans-serif;"
          *ngIf="filterForm.get('prezzoMax')?.invalid &&
                filterForm.get('prezzoMax')?.touched">

          <span *ngIf="filterForm.get('prezzoMax')?.errors?.['min']">
            Il prezzo minimo è 0
          </span>
        </div>    
      </div>

      <div class="filter-field">
        <input type="number"
              placeholder="Q.tà min"
              formControlName="quantitaDisponibileMin">
        <div style="color: #f44336; font-size: 12px;  
            line-height: 1.2;
            margin-top: 4px;
            display: block;
            font-family: Roboto, 
            sans-serif;"
          *ngIf="filterForm.get('quantitaDisponibileMin')?.invalid &&
                filterForm.get('quantitaDisponibileMin')?.touched">

          <span *ngIf="filterForm.get('quantitaDisponibileMin')?.errors?.['min']">
            La quantità minima è 0
          </span>
        </div>    
      </div>

      <div class="filter-field">
        <input type="number"
              placeholder="Q.tà max"
              formControlName="quantitaDisponibileMax">
        <div style="color: #f44336; font-size: 12px;  
            line-height: 1.2;
            margin-top: 4px;
            display: block;
            font-family: Roboto, 
            sans-serif;"
          *ngIf="filterForm.get('quantitaDisponibileMax')?.invalid &&
                filterForm.get('quantitaDisponibileMax')?.touched">

          <span *ngIf="filterForm.get('quantitaDisponibileMax')?.errors?.['min']">
            La quantità minima è 0
          </span>
        </div>    
      </div>


      <div class="filter-actions">
        <button type="button" (click)="search()">
          Cerca
        </button>

        <button type="button" (click)="reset()">
          Reset
        </button>
      </div>

    </form>
  </mat-expansion-panel>


  <div class="products-grid">

    <mat-card class="product-card"
              *ngFor="let prodotto of prodotto$ | async">


      <div class="product-image">

        <img 
          [src]="prodotto.immagine"
          [alt]="prodotto.nomeProdotto">
      </div>


      <mat-card-header>

        <mat-card-title>
          {{ prodotto.nomeProdotto }}
        </mat-card-title>

        <mat-card-subtitle>
          {{ prodotto.categoria }}
        </mat-card-subtitle>

      </mat-card-header>


      <mat-card-content>


        <p class="product-short">
          {{ prodotto.descrizioneBreve }}
        </p>


        <p class="product-description">
          {{ prodotto.descrizioneCompleta }}
        </p>


        <div class="product-info">

          <span class="product-price">
            {{ prodotto.prezzo | currency:'EUR' }}
          </span>

          <span>
            Q.tà:
            {{ prodotto.quantitaDisponibile }}
          </span>

        </div>


        <mat-divider></mat-divider>


        <div class="product-seller">

          <mat-icon>
            store
          </mat-icon>


          <div>

            <strong>
              {{ prodotto.venditore.nome }}
            </strong>

            <small>
              {{ prodotto.venditore.email }}
              <mat-icon style="vertical-align: middle; margin-left: 4px;" (click)="copyEmail(prodotto.venditore.email)" [style.cursor]="'pointer'" [style.color]="'#3f51b5'">
                file_copy
              </mat-icon>
            </small>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button 
          mat-raised-button
          color="primary"
          [routerLink]="['/prodotto', prodotto.idProdotto]">
          Acquista
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>