<h4>Modifica CER</h4>
<form [formGroup]="cerForm" (ngSubmit)="submit()">
  <div class="flex-container">
    <div class="flex-col">
      <mat-card>
        <div class="section-box">
          <div class="section-title">ANAGRAFICA</div>
          <div class="field-group">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Ragione Sociale</mat-label>
              <input matInput formControlName="ragioneSociale" aria-label="ragioneSociale">
                <mat-error *ngIf="cerForm.get('ragioneSociale')?.invalid && (cerForm.get('ragioneSociale')?.touched || submitted)">
                  Campo obbligatorio
                </mat-error>
            </mat-form-field>
            <div class="row">
              <mat-form-field appearance="outline" class="half-width">
                <mat-label>Partita IVA</mat-label>
                <input matInput formControlName="partitaIva" aria-label="partitaIva">
                  <mat-error *ngIf="cerForm.get('partitaIva')?.invalid && (cerForm.get('partitaIva')?.touched || submitted)">
                    Campo obbligatorio
                  </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Codice Fiscale</mat-label>
                <input matInput formControlName="codiceFiscale" aria-label="codiceFiscale">
                  <mat-error *ngIf="cerForm.get('codiceFiscale')?.invalid && (cerForm.get('codiceFiscale')?.touched || submitted)">
                    Campo obbligatorio
                  </mat-error>
              </mat-form-field>
            </div>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Forma giuridica CER</mat-label>
              <input matInput formControlName="formaGiuridica" aria-label="formaGiuridica">
                 <mat-error *ngIf="cerForm.get('formaGiuridica')?.invalid && (cerForm.get('formaGiuridica')?.touched || submitted)">
                    Campo obbligatorio
                  </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="section-box">
          <div class="section-title">REFERENTE</div>
          <div class="field-group">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Nome e Cognome Referente</mat-label>
              <input matInput formControlName="referente" aria-label="referente">
                <mat-error *ngIf="cerForm.get('referente')?.invalid && (cerForm.get('referente')?.touched || submitted)">
                  Campo obbligatorio
                </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="section-box">
          <div class="section-title">STATO ATTUALE</div>
          <div class="field-group">
            <mat-form-field appearance="fill" class="mb-15">
              <mat-label>Stato CER</mat-label>
              <mat-select formControlName="flgCancelllazione">
                <mat-option *ngFor="let stato of stati" [value]="stato.value">
                  {{stato.viewValue}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="cerForm.get('flgCancelllazione')?.invalid && (cerForm.get('flgCancelllazione')?.touched || submitted)">
                  Selezione obbligatoria
                </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="flex-col">
      <mat-card>
        <div class="section-box">
          <div class="section-title">CONTATTI</div>
          <div class="field-group">
            <div class="row">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Telefono</mat-label>
                <input matInput formControlName="telefono" aria-label="telefono">
                  <mat-error *ngIf="cerForm.get('telefono')?.invalid && (cerForm.get('telefono')?.touched || submitted)">
                    Campo obbligatorio
                  </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" aria-label="email">
                  <mat-error *ngIf="cerForm.get('email')?.invalid && (cerForm.get('email')?.touched || submitted)">
                    Campo obbligatorio
                  </mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>PEC</mat-label>
                <input matInput formControlName="pec" aria-label="pec">
                  <mat-error *ngIf="cerForm.get('pec')?.invalid && (cerForm.get('pec')?.touched || submitted)">
                    Campo obbligatorio
                  </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Sito Web</mat-label>
                <input matInput formControlName="sitoWeb" aria-label="sitoWeb">
                  <mat-error *ngIf="cerForm.get('sitoWeb')?.invalid && (cerForm.get('sitoWeb')?.touched || submitted)">
                    Campo obbligatorio
                  </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="section-box">
          <div class="section-title">SEDE LEGALE</div>
          <div class="field-group">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Comune sede legale</mat-label>
              <input matInput formControlName="comuneLegale" aria-label="comuneLegale">
              <mat-error *ngIf="cerForm.get('comuneLegale')?.invalid && (cerForm.get('comuneLegale')?.touched || submitted)">
                  Selezione obbligatoria
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Provincia sede legale</mat-label>
              <input matInput formControlName="provinciaLegale" aria-label="provinciaLegale">
              <mat-error *ngIf="cerForm.get('provinciaLegale')?.invalid && (cerForm.get('provinciaLegale')?.touched || submitted)">
                  Selezione obbligatoria
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Regione sede legale</mat-label>
              <input matInput formControlName="regioneLegale" aria-label="regioneLegale">
              <mat-error *ngIf="cerForm.get('regioneLegale')?.invalid && (cerForm.get('regioneLegale')?.touched || submitted)">
                Selezione obbligatoria
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="div-button">
    <button mat-raised-button color="primary" type="submit" class="button button-edit">
      <mat-icon>edit</mat-icon> Modifica
    </button>
    <button mat-flat-button color="accent" class="button">
      Cancella
    </button>
    <button mat-raised-button class="button">
      Ripristina Cancellazione
    </button>
    <button mat-raised-button routerLink="/cer" class="button">
      Indietro
    </button>
  </div>
</form>
