<h4>Inserimento Impianto</h4>
<form [formGroup]="impiantiForm" (ngSubmit)="submit()">
  <div class="flex-container">
    <div class="flex-col">
      <mat-card>
        <div class="section-box">
          <div class="section-title">DATI IMPIANTO</div>
          <div class="field-group">
            <div class="row">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Ragione Sociale</mat-label>
                <mat-select formControlName="ragSociale">
                  <mat-option *ngFor="let cer of cers" [value]="cer.ragSociale">
                    {{ cer.ragSociale }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="impiantiForm.get('ragSociale')?.invalid && (impiantiForm.get('ragSociale')?.touched || submitted)">
                  Selezione obbligatoria
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Codice Cabina</mat-label>
                <mat-select formControlName="codiceCabina">
                  <mat-option *ngFor="let config of configs" [value]="config.codiceCabina">
                    {{ config.codiceCabina }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="impiantiForm.get('codiceCabina')?.invalid && (impiantiForm.get('codiceCabina')?.touched || submitted)">
                  Selezione obbligatoria
                </mat-error>
              </mat-form-field>
            </div>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Data Entrata Esercizio</mat-label>
              <input matInput formControlName="dataEserc" aria-label="dataEserc" required>
              <mat-error *ngIf="impiantiForm.get('dataEserc')?.invalid && (impiantiForm.get('dataEserc')?.touched || submitted)">
                Campo obbligatorio
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="section-box">
          <div class="section-title">CARATTERISTICHE TECNICHE</div>
          <div class="field-group">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Tipologia Impianto</mat-label>
              <input matInput formControlName="codiceTipologia" aria-label="codiceTipologia" required>
              <mat-error *ngIf="impiantiForm.get('codiceTipologia')?.invalid && (impiantiForm.get('codiceTipologia')?.touched || submitted)">
                Campo obbligatorio
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Potenza Nominale(KW)</mat-label>
              <input matInput type="number" formControlName="potenzaNominale" aria-label="potenzaNominale" required>
              <mat-error *ngIf="impiantiForm.get('potenzaNominale')?.invalid && (impiantiForm.get('potenzaNominale')?.touched || submitted)">
                Campo obbligatorio
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Presenza Accumulo</mat-label>
                <mat-select formControlName="flgAccumulo">
                  <mat-option value="SI">SI</mat-option>
                  <mat-option value="NO">NO</mat-option>
                </mat-select>
                <mat-error *ngIf="impiantiForm.get('flgAccumulo')?.invalid && (impiantiForm.get('flgAccumulo')?.touched || submitted)">
                  Campo obbligatorio
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Capacità Accumulo (KWh)</mat-label>
              <input matInput type="number" formControlName="capAccumulo" aria-label="capAccumulo" required>
              <mat-error *ngIf="impiantiForm.get('capAccumulo')?.invalid && (impiantiForm.get('capAccumulo')?.touched || submitted)">
                Campo obbligatorio
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="flex-col">
      <mat-card>
        <div class="section-box">
          <div class="section-title">PRODUTTORE</div>
          <div class="field-group">
            <div class="row">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Tipologia Produttore</mat-label>
                <input matInput formControlName="tipoProduttore" aria-label="tipoProduttore" required>
                <mat-error *ngIf="impiantiForm.get('tipoProduttore')?.invalid && (impiantiForm.get('tipoProduttore')?.touched || submitted)">
                  Campo obbligatorio
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Categoria Produttore</mat-label>
                <input matInput formControlName="codCategoriaProduttore" aria-label="codCategoriaProduttore" required>
                <mat-error *ngIf="impiantiForm.get('codCategoriaProduttore')?.invalid && (impiantiForm.get('codCategoriaProduttore')?.touched || submitted)">
                  Campo obbligatorio
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="section-box">
          <div class="section-title">UBICAZIONE IMPIANTO</div>
          <div class="field-group">
            <div class="row">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Regione</mat-label>
                <input matInput formControlName="regione" aria-label="regione" required>
                <mat-error *ngIf="impiantiForm.get('regione')?.invalid && (impiantiForm.get('regione')?.touched || submitted)">
                  Campo obbligatorio
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Provincia</mat-label>
                <input matInput formControlName="provincia" aria-label="provincia" required>
                <mat-error *ngIf="impiantiForm.get('provincia')?.invalid && (impiantiForm.get('provincia')?.touched || submitted)">
                  Campo obbligatorio
                </mat-error>
              </mat-form-field>
            </div>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Comune</mat-label>
              <input matInput formControlName="comune" aria-label="comune" required>
              <mat-error *ngIf="impiantiForm.get('comune')?.invalid && (impiantiForm.get('comune')?.touched || submitted)">
                Campo obbligatorio
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Indirizzo</mat-label>
              <input matInput formControlName="indirizzo" aria-label="indirizzo" required>
              <mat-error *ngIf="impiantiForm.get('indirizzo')?.invalid && (impiantiForm.get('indirizzo')?.touched || submitted)">
                Campo obbligatorio
              </mat-error>
            </mat-form-field>
            <div class="row">
              <mat-form-field appearance="outline" class="half-width">
                <mat-label>Numero Civico</mat-label>
                <input matInput formControlName="civico" aria-label="civico" required>
                <mat-error *ngIf="impiantiForm.get('civico')?.invalid && (impiantiForm.get('civico')?.touched || submitted)">
                  Campo obbligatorio
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="half-width">
                <mat-label>CAP</mat-label>
                <input matInput formControlName="cap" aria-label="cap" required>
                <mat-error *ngIf="impiantiForm.get('cap')?.invalid && (impiantiForm.get('cap')?.touched || submitted)">
                  Campo obbligatorio
                </mat-error>
              </mat-form-field>
            </div>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Tipologia Installazione</mat-label>
              <input matInput formControlName="specTipoInst" aria-label="specTipoInst" required>
              <mat-error *ngIf="impiantiForm.get('specTipoInst')?.invalid && (impiantiForm.get('specTipoInst')?.touched || submitted)">
                Campo obbligatorio
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div style="display: flex; justify-content: center; gap: 10px; margin-top: 15px">
    <button mat-raised-button color="primary" type="submit" style="border-radius: 8px; min-width: 130px; height: 42px; display: flex; align-items: center; gap: 6px;">
      <mat-icon>edit</mat-icon> Aggiungi
    </button>
    <button mat-raised-button routerLink="/impianto" style="border-radius: 8px; min-width: 130px; height: 42px;">
      Indietro
    </button>
  </div>
</form>
