<h4>Inserimento Impianto</h4>
<form [formGroup]="impiantiForm" (ngSubmit)="submit()">
  <div class="flex-container">
    <div class="flex-col">
      <mat-card>
        <div class="section-box">
          <div class="section-title">DATI IMPIANTO</div>
          <div class="field-group">
            <div class="row">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Ragione Sociale</mat-label>
                  <mat-select formControlName="ragSociale">
                    <mat-option *ngFor="let cer of cers" [value]="cer.ragSociale">
                      {{cer.ragSociale}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="impiantiForm.get('ragSociale')?.invalid && (impiantiForm.get('ragSociale')?.touched || submitted)">
                    Selezione obbligatoria
                  </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Codice Cabina</mat-label>
                  <mat-select formControlName="codiceCabina">
                    <mat-option>
                      <!-- <mat-option *ngFor="let cer of cers" [value]="codiceCabina">
                        {{codice_cabina}} -->
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="impiantiForm.get('codiceCabina')?.invalid && (impiantiForm.get('codiceCabina')?.touched || submitted)">
                      Selezione obbligatoria
                    </mat-error>
              </mat-form-field>
            </div>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Data Entrata Esercizio</mat-label>
              <input matInput formControlName="dataEserc" aria-label="dataEserc" required>
                <mat-error *ngIf="impiantiForm.get('dataEserc')?.invalid && (impiantiForm.get('dataEserc')?.touched || submitted)">
                  Campo obbligatorio
                </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="section-box">
          <div class="section-title">CARATTERISTICHE TECNICHE</div>
          <div class="field-group">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Tipologia Impianto</mat-label>
              <input matInput formControlName="codiceTipologia" aria-label="codiceTipologia" required>
                <mat-error *ngIf="impiantiForm.get('codiceTipologia')?.invalid && (impiantiForm.get('codiceTipologia')?.touched || submitted)">
                  Campo obbligatorio
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Potenza Nominale(KW)</mat-label>
              <input matInput type="number" formControlName="potenza_nominale" aria-label="potenza_nominale" required>
                <mat-error *ngIf="impiantiForm.get('potenza_nominale')?.invalid && (impiantiForm.get('potenza_nominale')?.touched || submitted)">
                  Campo obbligatorio
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Presenza Accumulo</mat-label>
                <mat-select formControlName="presenza_accumulo">
                  <mat-option value="SI">SI</mat-option>
                  <mat-option value="NO">NO</mat-option>
                </mat-select>
                <mat-error *ngIf="impiantiForm.get('presenza_accumulo')?.invalid && (impiantiForm.get('presenza_accumulo')?.touched || submitted)">
                  Campo obbligatorio
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Capacità Accumulo (KWh)</mat-label>
              <input matInput type="number" formControlName="capAccumulo" required>
                <mat-error *ngIf="impiantiForm.get('capAccumulo')?.invalid && (impiantiForm.get('capAccumulo')?.touched || submitted)">
                  Campo obbligatorio
                </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="flex-col">
      <mat-card>
        <div class="section-box">
          <div class="section-title">PRODUTTORE</div>
          <div class="field-group">
            <div class="row">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Tipologia Produttore</mat-label>
                <input matInput formControlName="tipoProduttore" aria-label="tipoProduttore" required>
                  <mat-error *ngIf="impiantiForm.get('tipoProduttore')?.invalid && (impiantiForm.get('tipoProduttore')?.touched || submitted)">
                    Campo obbligatorio
                  </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Categoria Produttore</mat-label>
                <input matInput formControlName="codCategoriaProduttore" aria-label="codCategoriaProduttore" required>
                  <mat-error *ngIf="impiantiForm.get('codCategoriaProduttore')?.invalid && (impiantiForm.get('codCategoriaProduttore')?.touched || submitted)">
                    Campo obbligatorio
                  </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="section-box" formGroupName="ubicazione">
          <div class="section-title">UBICAZIONE IMPIANTO</div>
          <div class="field-group">
            <div class="row">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Regione</mat-label>
                <mat-select formControlName="regione" required>
                  <mat-option value="abruzzo">Abruzzo</mat-option>
                  <mat-option value="campania">Campania</mat-option>
                  <mat-option value="lazio">Lazio</mat-option>
                  <mat-option value="veneto">Veneto</mat-option>
                </mat-select>
                  <mat-error *ngIf="impiantiForm.get('ubicazione.regione')?.invalid && (impiantiForm.get('ubicazione.regione')?.touched || submitted)">
                    Campo obbligatorio
                  </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Provincia</mat-label>
                <input matInput formControlName="provincia" required>
                  <mat-error *ngIf="impiantiForm.get('ubicazione.provincia')?.invalid && (impiantiForm.get('ubicazione.provincia')?.touched || submitted)">
                    Campo obbligatorio
                  </mat-error>
              </mat-form-field>
            </div>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Comune</mat-label>
              <input matInput formControlName="comune" required>
                <mat-error *ngIf="impiantiForm.get('ubicazione.comune')?.invalid && (impiantiForm.get('ubicazione.comune')?.touched || submitted)">
                  Campo obbligatorio
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Indirizzo</mat-label>
              <input matInput formControlName="indirizzo" required>
                <mat-error *ngIf="impiantiForm.get('ubicazione.indirizzo')?.invalid && (impiantiForm.get('ubicazione.indirizzo')?.touched || submitted)">
                  Campo obbligatorio
                </mat-error>
            </mat-form-field>
            <div class="row">
              <mat-form-field appearance="outline" class="half-width">
                <mat-label>Numero Civico</mat-label>
                <input matInput formControlName="numero_civico" required>
                  <mat-error *ngIf="impiantiForm.get('ubicazione.numero_civico')?.invalid && (impiantiForm.get('ubicazione.numero_civico')?.touched || submitted)">
                    Campo obbligatorio
                  </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="half-width">
                <mat-label>CAP</mat-label>
                <input matInput formControlName="cap" required>
                  <mat-error *ngIf="impiantiForm.get('ubicazione.cap')?.invalid && (impiantiForm.get('ubicazione.cap')?.touched || submitted)">
                    Campo obbligatorio
                  </mat-error>
              </mat-form-field>
            </div>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Tipologia Installazione</mat-label>
              <input matInput formControlName="specTipoInst" required>
                 <mat-error *ngIf="impiantiForm.get('ubicazione.specTipoInst')?.invalid && (impiantiForm.get('ubicazione.specTipoInst')?.touched || submitted)">
                    Campo obbligatorio
                  </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div style="display: flex; justify-content: center; gap: 10px; margin-top: 15px">
    <button mat-raised-button color="primary" type="submit" style="border-radius: 8px; min-width: 130px; height: 42px; display: flex; align-items: center; gap: 6px;">
      <mat-icon>edit</mat-icon> Aggiungi
    </button>
    <button mat-raised-button routerLink="/impianto" style="border-radius: 8px; min-width: 130px; height: 42px;">
      Indietro
    </button>
  </div>
</form>
