<h4>Inserimento Dati Energetici</h4>
<form [formGroup]="datiEnergeticiForm" (ngSubmit)="submit()">
  <div class="flex-container">
    <div class="flex-col">
      <mat-card>
        <div class="section-box">
          <div class="section-title">DATI CER</div>
          <div class="field-group">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Anno</mat-label>
              <input matInput formControlName="anno" aria-label="anno" required>
                <mat-error *ngIf="datiEnergeticiForm.get('anno')?.invalid && (datiEnergeticiForm.get('anno')?.touched || submitted)">
                  Campo obbligatorio
                </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="section-box">
          <div class="section-title">ENERGIA</div>
          <div class="field-group">
            <div class="row">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Energia Prodotta</mat-label>
                <input matInput type="number" formControlName="eProdotta" aria-label="eProdotta" required>
                  <mat-error *ngIf="datiEnergeticiForm.get('eProdotta')?.invalid && (datiEnergeticiForm.get('eProdotta')?.touched || submitted)">
                    Campo obbligatorio
                  </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Energia Prelevata</mat-label>
                <input matInput type="number" formControlName="ePrelevata" aria-label="ePrelevata" required>
                  <mat-error *ngIf="datiEnergeticiForm.get('ePrelevata')?.invalid && (datiEnergeticiForm.get('ePrelevata')?.touched || submitted)">
                    Campo obbligatorio
                  </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Energia Immessa</mat-label>
                <input matInput type="number" formControlName="eImmessa" aria-label="eImmessa" required>
                  <mat-error *ngIf="datiEnergeticiForm.get('eImmessa')?.invalid && (datiEnergeticiForm.get('eImmessa')?.touched || submitted)">
                    Campo obbligatorio
                  </mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Energia Condivisa</mat-label>
                <input matInput type="number" formControlName="eCondivisa" aria-label="eCondivisa" required>
                  <mat-error *ngIf="datiEnergeticiForm.get('eCondivisa')?.invalid && (datiEnergeticiForm.get('eCondivisa')?.touched || submitted)">
                    Campo obbligatorio
                  </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Energia Autoconsumate</mat-label>
                <input matInput type="number" formControlName="eAutoCons" aria-label="eAutoCons"required>
                  <mat-error *ngIf="datiEnergeticiForm.get('eAutoCons')?.invalid && (datiEnergeticiForm.get('eAutoCons')?.touched || submitted)">
                    Campo obbligatorio
                  </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="flex-col">
      <mat-card>
        <div class="section-box">
          <div class="section-title">PREMI</div>
          <div class="field-group">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Tariffa Premio</mat-label>
              <input matInput formControlName="tariffaPremium" aria-label="tariffaPremium" required>
                <mat-error *ngIf="datiEnergeticiForm.get('tariffaPremium')?.invalid && (datiEnergeticiForm.get('tariffaPremium')?.touched || submitted)">
                  Campo obbligatorio
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Corrispettivo Premio</mat-label>
              <input matInput formControlName="corrPremioOtt" aria-label="corrPremioOtt" required>
                <mat-error *ngIf="datiEnergeticiForm.get('corrPremioOtt')?.invalid && (datiEnergeticiForm.get('corrPremioOtt')?.touched || submitted)">
                  Campo obbligatorio
                </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="section-box">
          <div class="section-title">RIDUZIONI</div>
          <div class="field-group">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Riduzione Emissione</mat-label>
              <input matInput formControlName="ridEmCo2" aria-label="ridEmCo2" required>
                <mat-error *ngIf="datiEnergeticiForm.get('ridEmCo2')?.invalid && (datiEnergeticiForm.get('ridEmCo2')?.touched || submitted)">
                  Campo obbligatorio
                </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div style="display: flex; justify-content: center; gap: 10px; margin-top: 15px">
    <button mat-raised-button color="primary" type="submit" style="border-radius: 8px; min-width: 130px; height: 42px; display: flex; align-items: center; gap: 6px;">
      <mat-icon>edit</mat-icon> Aggiungi
    </button>
    <button mat-raised-button routerLink="/dati-energetici" style="border-radius: 8px; min-width: 130px; height: 42px;">
      Indietro
    </button>
  </div>
</form>