button {
  margin: 5px;
}

th.mat-mdc-table thead, .mat-mdc-header-row, .mat-mdc-header-cell {
  background-color: var(--app-bg);
}

.impianti {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
}