<div class="impianti">
  <div class="h3-header">
   <h3>Impianti</h3>
    <div>
     <button mat-raised-button color="primary" routerLink="inserimento-impianto"><mat-icon>add</mat-icon> Aggiungi Impianto</button>
    </div>
  </div>
</div>
<div>
  <div class="filtro" rows="3">
    <h6>Filtra per:</h6>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Tipologia Impianto</mat-label>
      <input [(ngModel)]="filtro.tipologia_impianto" matInput type="text" aria-label="tipologia_impianto">
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Potenza Nominale</mat-label>
      <input [(ngModel)]="filtro.potenza_nominale" matInput type="text" aria-label="potenza_nominale">
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Presenza Accumulo</mat-label>
      <input [(ngModel)]="filtro.presenza_accumulo" matInput type="text" aria-label="presenza_accumulo">
    </mat-form-field>
    <div class="button-filtro">
      <button mat-raised-button color="primary" type="button" value="Cerca" aria-label="Cerca" (click)="filtraImpianto()">
        <mat-icon>search</mat-icon> Ricerca
      </button>
      <button mat-raised-button type="button" (click)="resetFiltro()">
        <mat-icon>close</mat-icon> Reset
      </button>
    </div>
  </div>
</div>
<div class="table">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
    <ng-container matColumnDef="id_impianto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="id_impianto"> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id_impianto}} </td>
    </ng-container>
    <ng-container matColumnDef="codice_cabina">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="codice_cabina"> COD.Cabina </th>
      <td mat-cell *matCellDef="let element"> {{element.codice_cabina}} </td>
    </ng-container>
    <ng-container matColumnDef="data_entrata_esercizio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="data_entrata_esercizio">Data Entrata Esercizio</th>
      <td mat-cell *matCellDef="let element"> {{element.data_entrata_esercizio}} </td>
    </ng-container>
    <ng-container matColumnDef="azioni">
      <th mat-header-cell *matHeaderCellDef> Azioni </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button routerLink="dettaglio-impianto/:id">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-button routerLink="modifica-impianto/:id">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="tableImp"></tr>
    <tr mat-row *matRowDef="let row; columns: tableImp;"></tr>
  </table>
  <mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
</div>
