@use '@angular/material' as mat;
@import "bootstrap/scss/bootstrap";

@include mat.core();


$primary: mat.define-palette(mat.$indigo-palette, 500);
$accent: mat.define-palette(mat.$orange-palette, 500);
$warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  )
));

@include mat.all-component-themes($theme);


.app-toast-snackbar-panel {
  padding: 0 !important;
  background: transparent !important;
  box-shadow: none !important;

  .mdc-snackbar__surface {
    padding: 0 !important;
    background: transparent !important;
    box-shadow: none !important;
    border-radius: 12px !important;
  }
}

