<h4>Dettaglio Impianto</h4>
<form [formGroup]="impiantiForm">
  <div class="flex-container">
    <div class="flex-col">
      <mat-card>
        <div class="section-box">
          <div class="section-title">DATI IMPIANTO</div>
          <div class="field-group">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Codice Cabina</mat-label>
              <input matInput formControlName="codiceCabina" aria-label="codiceCabina" required>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Data Entrata Esercizio</mat-label>
              <input matInput formControlName="annoAttivazione" aria-label="annoAttivazione" required>
            </mat-form-field>
          </div>
        </div>
        <div class="section-box">
          <div class="section-title">CARATTERISTICHE TECNICHE</div>
          <div class="field-group">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Tipologia Impianto</mat-label>
              <input matInput formControlName="tipologia" aria-label="tipologia" required>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Potenza Nominale(KW)</mat-label>
              <input matInput type="number" formControlName="potenzaNominale" aria-label="potenzaNominale" required>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Presenza Accumulo</mat-label>
              <input matInput type="number" formControlName="flgAccumulo" aria-label="flgAccumulo" required>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Capacità Accumulo (KWh)</mat-label>
              <input matInput type="number" formControlName="capAccumulo" aria-label="capAccumulo" required>
            </mat-form-field>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="flex-col">
      <mat-card>
        <div class="section-box">
          <div class="section-title">PRODUTTORE</div>
          <div class="field-group">
            <div class="row">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Tipologia Produttore</mat-label>
                <input matInput formControlName="tipologiaProduttore" aria-label="tipologiaProduttore" required>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Categoria Produttore</mat-label>
                <input matInput formControlName="specCatProduttore" aria-label="specCatProduttore" required>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="section-box">
          <div class="section-title">UBICAZIONE IMPIANTO</div>
          <div class="field-group">
            <div class="row">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Regione</mat-label>
                <mat-select formControlName="regione" required>
                  <mat-option value=""></mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Provincia</mat-label>
                <input matInput formControlName="provincia" aria-label="provincia" required>
              </mat-form-field>
            </div>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Comune</mat-label>
              <input matInput formControlName="comune" aria-label="comune" required>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Indirizzo</mat-label>
              <input matInput formControlName="indirizzo" aria-label="indirizzo" required>
            </mat-form-field>
            <div class="row">
              <mat-form-field appearance="outline" class="half-width">
                <mat-label>Numero Civico</mat-label>
                <input matInput formControlName="civico" aria-label="civico" required>
              </mat-form-field>
              <mat-form-field appearance="outline" class="half-width">
                <mat-label>CAP</mat-label>
                <input matInput formControlName="cap" aria-label="cap" required>
              </mat-form-field>
            </div>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Tipologia Sito</mat-label>
              <input matInput formControlName="sitoInstallazione" aria-label="sitoInstallazione" required>
            </mat-form-field>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="div-button">
    <button mat-raised-button routerLink="/configurazione" class="button">
      Indietro
    </button>
  </div>
</form>

