<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Position Column -->
    <ng-container matColumnDef="ragioneSociale">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ragione Sociale</th>
      <td mat-cell *matCellDef="let ele">{{ ele.ragioneSociale }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="partitaIVA">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Partita IVA</th>
      <td mat-cell *matCellDef="let ele">{{ ele.partitaIVA }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="formaGiuridica">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Forma Giuridica</th>
      <td mat-cell *matCellDef="let ele">{{ ele.formaGiuridica }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="comuneSedeLegale">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Comune</th>
      <td mat-cell *matCellDef="let ele">{{ ele.comuneSedeLegale }}</td>
    </ng-container>

    <ng-container matColumnDef="provinciaSedeLegale">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Provincia</th>
      <td mat-cell *matCellDef="let ele">{{ ele.provinciaSedeLegale }}</td>
    </ng-container>

    <ng-container matColumnDef="regioneLegale">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Regione</th>
      <td mat-cell *matCellDef="let ele">{{ ele.regioneLegale }}</td>
    </ng-container>

    <ng-container matColumnDef="flgCanc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Stato</th>
      <td mat-cell *matCellDef="let ele">
        <span
          class="stato-lampeggiante"
          [class.stato-attivo]="!cerDisattiva(ele)"
          [class.stato-disattivo]="cerDisattiva(ele)"
        >
          {{ statoCer(ele) }}
        </span>
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="azioni">
      <th mat-header-cell *matHeaderCellDef>Azioni</th>
      <td mat-cell *matCellDef="let ele">
        <button
          mat-icon-button
          [routerLink]="['/tabella-cer', ele.idCer]"
          *ngIf="abilitaVisualizzazione && !visualizzazioneCustom"
          aria-label="Visualizza dettaglio configurazione cabina energetica"
        >
          <mat-icon>visibility</mat-icon>
        </button>
        <button
          mat-icon-button
          type="button"
          (click)="gestisciVisualizzazione(ele)"
          *ngIf="abilitaVisualizzazione && visualizzazioneCustom"
          aria-label="Visualizza dettaglio configurazione cabina energetica"
        >
          <mat-icon>visibility</mat-icon>
        </button>

        <!-- <button  mat-icon-button ><mat-icon>add_shopping_cart</mat-icon>
        </button> -->

        <button
          mat-icon-button
          *ngIf="getRuolo() === 'ADMIN'"
          [disabled]="!puoModificare()"
          (click)="apriModificaCer(ele, modificaCer)"
          aria-label="Modifica CER"
        >
          <mat-icon>edit</mat-icon>
        </button>

        <button
          mat-icon-button
          *ngIf="getRuolo() === 'ADMIN'"
          [disabled]="!puoCancellare()"
          (click)="cancellaCer(ele)"
          aria-label="Elimina CER"
        >
          <mat-icon>delete</mat-icon>
        </button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell cella-vuota" [attr.colspan]="displayedColumns.length">
        {{ messaggioVuoto }}
      </td>
    </tr>
  </table>

  
  <div class="azioni-tabella" *ngIf="mostraInserisci && getRuolo() === 'ADMIN'">
    <button mat-raised-button color="primary" routerLink="/cer/new">
      <mat-icon>add</mat-icon>
      Inserisci
    </button>
  </div>
  

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>

<ng-template #modificaCer>
  <h2 mat-dialog-title class="titolo-modifica-cer">Modifica CER</h2>
  <mat-dialog-content class="contenuto-modifica-cer">
    <form [formGroup]="formModificaCer" class="form-registrazione-cer">
      <input type="hidden" formControlName="idCer" />

      <div class="sezione-form">
        <h3>Dati anagrafici</h3>
        <div class="riga-form">
          <mat-form-field appearance="outline">
            <mat-label>Ragione sociale</mat-label>
            <input matInput formControlName="ragioneSociale" />
            <mat-error *ngIf="campoModifica('ragioneSociale').invalid">
              Inserire una ragione sociale valida.
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Codice fiscale</mat-label>
            <input matInput formControlName="codiceFiscale" maxlength="16" class="testo-maiuscolo" />
            <mat-error *ngIf="campoModifica('codiceFiscale').invalid">
              Inserire un codice fiscale valido.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="riga-form">
          <mat-form-field appearance="outline">
            <mat-label>Partita IVA</mat-label>
            <input matInput formControlName="partitaIVA" maxlength="11" />
            <mat-error *ngIf="campoModifica('partitaIVA').invalid">
              Inserire una partita IVA di 11 cifre.
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Forma giuridica</mat-label>
            <input matInput formControlName="formaGiuridica" />
          </mat-form-field>
        </div>
        <div class="riga-form">
          <mat-form-field appearance="outline">
            <mat-label>Specifiche forma giuridica</mat-label>
            <input matInput formControlName="specFormaGiuridica" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Referente</mat-label>
            <input matInput formControlName="referente" />
            <mat-error *ngIf="campoModifica('referente').invalid">
              Inserire un referente valido.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="sezione-form">
        <h3>Sede legale e contatti</h3>
        <div class="riga-form">
          <mat-form-field appearance="outline">
            <mat-label>Comune</mat-label>
            <input matInput formControlName="comuneSedeLegale" />
            <mat-error *ngIf="campoModifica('comuneSedeLegale').invalid">
              Il comune e obbligatorio.
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Provincia</mat-label>
            <input matInput formControlName="provinciaSedeLegale" maxlength="2" class="testo-maiuscolo" />
            <mat-error *ngIf="campoModifica('provinciaSedeLegale').invalid">
              Inserire la sigla provincia.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="riga-form">
          <mat-form-field appearance="outline">
            <mat-label>Regione</mat-label>
            <input matInput formControlName="regioneLegale" />
            <mat-error *ngIf="campoModifica('regioneLegale').invalid">
              La regione e obbligatoria.
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Telefono</mat-label>
            <input matInput formControlName="telefono" />
            <mat-error *ngIf="campoModifica('telefono').invalid">
              Inserire un telefono valido.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="riga-form">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" />
            <mat-error *ngIf="campoModifica('email').invalid">
              Inserire un'email valida.
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>PEC</mat-label>
            <input matInput formControlName="pec" type="email" />
            <mat-error *ngIf="campoModifica('pec').invalid">
              Inserire una PEC valida.
            </mat-error>
          </mat-form-field>
        </div>
        <mat-form-field appearance="outline" class="campo-largo">
          <mat-label>Sito web</mat-label>
          <input matInput formControlName="sitoWeb" />
        </mat-form-field>
      </div>
      <div class="riga-form">
        <mat-form-field appearance="outline">
          <mat-label>Partita IVA</mat-label>
          <input matInput formControlName="partitaIVA" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Forma giuridica</mat-label>
          <input matInput formControlName="formaGiuridica" />
        </mat-form-field>
      </div>
      <div class="riga-form">
        <mat-form-field appearance="outline">
          <mat-label>Comune</mat-label>
          <input matInput formControlName="comuneSedeLegale" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Provincia</mat-label>
          <input matInput formControlName="provinciaSedeLegale" />
        </mat-form-field>
      </div>
      <div class="riga-form">
        <mat-form-field appearance="outline">
          <mat-label>Regione</mat-label>
          <input matInput formControlName="regioneLegale" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Referente</mat-label>
          <input matInput formControlName="referente" />
        </mat-form-field>
      </div>
      
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-stroked-button mat-dialog-close>Annulla</button>
    <button mat-raised-button color="primary" type="button" (click)="salvaModificaCerDisponibile()">
      Salva
    </button>
  </mat-dialog-actions>
</ng-template>
